---

import type { Document } from "~/misc/platform";
import NoteListItem from "./DocumentListItem.astro";

interface Props {
  title: string;
  documents: Document[];
  activeSlug: string | undefined;
}

const { title, documents, activeSlug } = Astro.props;
---

<li>
  <h4 class="p-2 text-lg font-bold first:mt-0">{title}</h4>
  <ul class="flex flex-col gap-1">
    {documents.map((document) => <NoteListItem document={document} activeSlug={activeSlug} />)}
  </ul>
</li>
