---
import type { Document } from "~/misc/platform";

import DocumentList from "./DocumentList.astro";

interface Props {
  activeSlug?: string;
  guides: Document[];
  usages: Document[];
}

const { activeSlug, guides, usages } = Astro.props;
---

<nav>
  <ul class="flex flex-col gap-1 p-2 py-4">
    <DocumentList
      documents={guides}
      title="서비스 가이드"
      activeSlug={activeSlug}
    />
    <DocumentList
      documents={usages}
      title="사용 예시"
      activeSlug={activeSlug}
    />
  </ul>
</nav>
