---
interface Props {
  user: string;
  slug: string;
  caption?: string;
}
const { user, slug, caption } = Astro.props;
---

<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
<div class="my-4">
  <div
    class="codepen aspect-video w-full"
    data-height="500"
    data-default-tab="result"
    data-user={user}
    data-slug-hash={slug}
  >
  </div>
  {caption && <p class="text-gray my-2 text-center text-sm">{caption}</p>}
</div>
