---
interface Props {
  user: string;
  slug: string;
  caption: string;
}
const { user, slug, caption } = Astro.props;
---

<div class="my-4">
  <div
    class="codepen w-full aspect-video"
    data-height="500"
    data-default-tab="result"
    data-user={user}
    data-slug-hash={slug}
  >
  </div>
  <p class="my-2 text-center text-sm text-gray">{caption}</p>
</div>
