---
import * as path from "node:path";
import { getEntry } from "astro:content";

interface Props {
  slug: string;
}
const { slug } = Astro.props;
const entry = await getEntry("docs", slug.slice(1));
const frontmatter = entry?.data;
const title = frontmatter?.title;
---

{
  title && (
    <a class="m-4" href={path.posix.join("/docs", slug)}>
      <div class="hover:text-orange-5 flex items-center justify-between gap-4 rounded border bg-white p-4 transition-transform hover:translate-y-[-2px] hover:drop-shadow-[0_12px_13px_rgba(0,0,0,0.02)]">
        <span>{title}</span>
        <i class="i-ic-baseline-chevron-right inline-block text-2xl" />
      </div>
    </a>
  )
}
