---
import * as path from "node:path";
import { frontmattersSignal } from "~/state/server-only/frontmatters";

interface Props {
  slug: string;
}
const { slug } = Astro.props;

const frontmatters = frontmattersSignal.value;
const fm = frontmatters[slug];
---

{
  fm && (
    <a href={path.posix.join("/docs", slug)}>
      <div class="hover:text-orange-5 m-4 flex items-center gap-4 rounded border bg-white p-4 transition-transform hover:translate-y-[-2px] hover:drop-shadow-[0_12px_13px_rgba(0,0,0,0.02)]">
        {fm.title}
      </div>
    </a>
  )
}
