<details class="group/details hover:border-orange my-4 rounded border">
  <style>
    summary > .chevron {
      width: 1.25em;
      height: 1.25em;
      transition: transform 0.1s;
    }
    details[open] > summary > .chevron {
      transform-origin: center;
      transform: rotate(90deg);
    }
  </style>
  <summary
    class="flex items-center gap-3 border-l-4 border-l-transparent px-4 py-2 cursor-pointer"
  >
    <div class="chevron" role="img">
      <i
        class="group-hover/details:text-orange i-ic-sharp-chevron-right inline-block"
      ></i>
    </div>
    <div class="my-2">
      <slot name="summary" />
    </div>
  </summary>
  <div class="-mt-2 flex gap-3 border-l-4 border-l-transparent px-4 pb-2">
    <div class="h-5 w-5 shrink-0"></div>
    <div class="w-full">
      <slot />
    </div>
  </div>
</details>
