<details class="group/details my-4 border rounded hover:border-orange">
  <style>
    summary > .chevron {
      width: 1.25em;
      height: 1.25em;
      transition: transform 0.1s;
    }
    details[open] > summary > .chevron {
      transform-origin: center;
      transform: rotate(90deg);
    }
  </style>
  <summary
    class="flex cursor-pointer items-center gap-3 border-l-4 border-l-transparent px-4 py-2"
  >
    <div class="chevron" role="img">
      <i
        class="i-ic-sharp-chevron-right inline-block group-hover/details:text-orange"
      ></i>
    </div>
    <div class="my-2">
      <slot name="summary" />
    </div>
  </summary>
  <div class="flex gap-3 border-l-4 border-l-transparent px-4 pb-2 -mt-2">
    <div class="h-5 w-5 shrink-0"></div>
    <div class="w-full">
      <slot />
    </div>
  </div>
</details>
