---
interface Props {
  src: string;
  filename: string;
  caption?: string;
  captionInside?: string;
}
const { src, filename, caption, captionInside } = Astro.props;
---

<div>
  <a href={src} download={filename}>
    <div class="m-4 p-4 flex gap-4 items-center rounded border bg-white transition-transform hover:translate-y-[-2px] hover:text-orange-5 hover:drop-shadow-[0_12px_13px_rgba(0,0,0,0.02)]">
      <i class="text-2xl i-ic-baseline-download" role="img"/>
      {captionInside ?? filename}
    </div>
  </a>
  {caption && <div>{caption}</div>}
</div>
