---
interface Props {
  src: string;
  filename: string;
  caption?: string;
  captionInside?: string;
}
const { src, filename, caption, captionInside } = Astro.props;
---

<div>
  <a href={src} download={filename}>
    <div
      class="m-4 flex items-center gap-4 border rounded bg-white p-4 transition-transform hover:translate-y-[-2px] hover:text-orange-5 hover:drop-shadow-[0_12px_13px_rgba(0,0,0,0.02)]"
    >
      <i class="i-ic-baseline-download text-2xl" role="img"></i>
      {captionInside ?? filename}
    </div>
  </a>
  {caption && <div>{caption}</div>}
</div>
