---
interface Props {
  videoId: string;
  caption?: string;
}
const { videoId, caption } = Astro.props;
---

<div class="my-4">
  <iframe
    class="aspect-video w-full border-none"
    allowfullscreen
    src={`https://www.youtube.com/embed/${videoId}`}
    allowtransparency="true"></iframe>
  {caption && <p class="my-2 text-center text-sm text-gray">{caption}</p>}
</div>
