---
interface Props {
  videoId: string;
  caption: string;
}
const { videoId, caption } = Astro.props;
---

<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
<div class="my-4">
  <iframe
    class="aspect-video w-full"
    allowfullscreen
    src={`https://www.youtube.com/embed/${videoId}`}
    allowtransparency="true"
    frameborder="0"></iframe>
  <p class="my-2 text-center text-sm text-gray">{caption}</p>
</div>
