---
interface Props {
  videoId: string;
  caption?: string;
}
const { videoId, caption } = Astro.props;
---

<div class="my-4">
  <iframe
    class="aspect-video w-full"
    allowfullscreen
    src={`https://www.youtube.com/embed/${videoId}`}
    allowtransparency="true"
    frameborder="0"></iframe>
  {caption && <p class="text-gray my-2 text-center text-sm">{caption}</p>}
</div>
