---
import SidebarBackground from "./SidebarBackground";
---

<script>
  import { effect } from "@preact/signals";
  import { sidebarOpenSignal } from "~/state/sidebar";
  const leftSidebar = document.getElementById("left-sidebar")!;
  effect(() => {
    const sidebarOpen = sidebarOpenSignal.value;
    const div = leftSidebar.children[0] as HTMLDivElement;
    div.style.transform = sidebarOpen ? "none" : "translateX(-100%)";
  });
</script>
<SidebarBackground client:visible />
<aside
  id="left-sidebar"
  class="w-65 pointer-events-none absolute z-10 shrink-0 text-slate-700 md:relative md:block"
>
  <div
    style="transform:translateX(-100%)"
    class="w-inherit pointer-events-auto fixed flex h-[calc(100vh-3.5rem)] flex-col border-r bg-white pl-1 transition-transform md:!transform-none"
  >
    <slot />
  </div>
</aside>
