---
import MethodBadge from "./MethodBadge.astro";

interface Props {
  method: string;
  path: string;
}

const { method, path } = Astro.props;
---

<span
  class="bg-slate-1 inline-flex items-center gap-1 self-start rounded-full pr-2 text-xs opacity-70"
>
  <MethodBadge method={method} />
  <span class="ml-1 font-mono font-normal">{path}</span>
</span>
