---
interface Props {
  title: string;
  id: string;
}
const { title, id } = Astro.props;
---

<a
  class="block flex-1 rounded px-2 py-1"
  href={`/api/rest-v1/${id}`}
  data-target={id}
  data-norefresh
>
  {title}
</a>
