---
interface Props {
  title: string;
  id: string;
}
const { title, id } = Astro.props;
---

<a
  class="hover:bg-slate-1 block rounded px-2 py-1"
  href={`/api/rest-v1/${id}`}
  data-target={id}
  data-norefresh
>
  {title}
</a>
