---
interface Props {
  title: string;
  id: string;
  basepath: string;
}
const { title, id, basepath } = Astro.props;
---

<a
  class="block flex-1 rounded px-2 py-1"
  href={`${basepath}/${id}`}
  data-target={id}
  data-norefresh
>
  {title}
</a>
