---
import LeftSidebar from "~/layouts/sidebar/LeftSidebar.astro";
import NavMenuLink from "./NavMenuLink.astro";

export interface NavMenuItem {
  title: string;
  id: string;
  children?: NavMenuItem[];
}

interface Props {
  items: NavMenuItem[];
}
const { items } = Astro.props;
---

<script>
  import { sidebarOpenSignal } from "~/state/sidebar";
  const navMenu = document.getElementById("nav-menu");
  const navMenuItems = Array.from(navMenu?.querySelectorAll("a") || []);
  for (const item of navMenuItems) {
    item.addEventListener("click", (e) => {
      e.preventDefault();
      sidebarOpenSignal.value = false;
      document
        .getElementById(item.dataset.target || "")
        ?.scrollIntoView({ behavior: "smooth" });
      history.pushState({}, "", item.href);
    });
  }
</script>
<LeftSidebar>
  <nav
    id="nav-menu"
    class="text-slate-7 gap-12px flex h-full flex-col overflow-y-scroll p-2 pt-8 text-lg"
  >
    {
      items.map(({ id, title, children }) => (
        <div>
          <div>
            <NavMenuLink id={id} title={title} />
          </div>
          {children && children.length && (
            <div class="flex flex-col pl-2">
              {children.map(({ id, title }) => (
                <NavMenuLink id={id} title={title} />
              ))}
            </div>
          )}
        </div>
      ))
    }
  </nav>
</LeftSidebar>
