---
import { getCollection } from "astro:content";
import clsx from "clsx";
import NavigationMenu from "~/components/blog/NavigationMenu";
import PostList from "~/components/blog/PostList/PostList.astro";
import LayoutKo from "~/layouts/LayoutKo.astro";

const entries = (await getCollection("blog"))
  .filter(
    (entry) =>
      !entry.data.draft ||
      import.meta.env.DEV ||
      import.meta.env.VERCEL_ENV === "preview",
  )
  .sort((a, b) => +b.data.date - +a.data.date);

const navMap = {
  "/blog": "전체보기",
  ...Object.fromEntries(
    ["Backend", "Frontend", "Infra", "Core V1", "Core V2"].map((tag) => [
      `/blog/tags/${encodeURIComponent(tag)}`,
      tag,
    ]),
  ),
};

const pathname = Astro.url.pathname.replace(/\/$/, "");
---

<LayoutKo>
  <div class="max-w-1148px mx-auto my-4 flex min-h-full flex-col gap-10 px-5">
    <div class="flex flex-wrap items-end justify-between gap-x-6 gap-y-4">
      <h1 class="text-slate-8 text-8 lg:text-10 break-keep font-bold">
        PortOne 기술 블로그
      </h1>
      <NavigationMenu
        client:visible
        activeTag={navMap[pathname as keyof typeof navMap]}
        class="lt-lg:ml-auto"
      >
        <ul
          class={clsx(
            "flex gap-x-5 overflow-x-auto whitespace-nowrap py-2",
            "lt-lg:(absolute top-full right-0 mt-1.5 flex-col rounded-md p-6 border bg-white gap-y-2)",
          )}
        >
          {
            Object.entries(navMap).map(([path, tag]) => (
              <li
                class={clsx(
                  "text-1.125rem hover:text-slate-9 transition-colors duration-200",
                  "lt-lg:(text-slate-5)",
                  pathname === path
                    ? "lg:(text-slate-9 font-semibold)"
                    : "lg:text-slate-4",
                )}
              >
                <a href={path} class="block w-full">
                  {tag}
                </a>
              </li>
            ))
          }
        </ul>
      </NavigationMenu>
    </div>
    <div class="flex flex-col gap-6">
      <h2 class="text-slate-5 text-1.375rem font-semibold">최신 글 보기</h2>
      <PostList entries={entries} />
    </div>
  </div>
</LayoutKo>
