.body :global(:is(ol, ul)) {
  margin-top: 32px;
  margin-bottom: 32px;
}

.body :global(ol) > :global(li:has(:is(ol, ul))) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.body :global(:is(ol, ul)) :global(:is(ol, ul)) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.body :global(:is(pre.shiki, figure)) {
  margin: 40px 0;
}
