article {
  padding-top: 10px;
  font-size: 15px;
}
article a {
  word-break: break-all;
}
article code {
  padding: 0 0.25rem; /* p-1 */
  border-radius: 0.25rem; /* rounded */
  background-color: rgba(203, 213, 225, 0.25); /* bg-slate-3 */
  color: #eb5757;
  word-break: break-all;
}
article mark {
  background: none;
}
article strong {
  font-weight: 600;
}
article pre.shiki {
  width: 100%;
  margin: 1em 0;
  padding: 1em 0;
  border-radius: 0.375rem;
  background-color: white;
  overflow-x: auto;
  border: 1px solid rgba(209, 213, 219); /* border-slate-2 */
}
article pre.shiki code {
  padding: 0;
  background-color: transparent;
}
article pre.shiki code .line {
  display: inline-block;
  width: 100%;
  padding: 0 1em;
}
article pre.shiki code .line.highlighted {
  background-color: rgb(255, 240, 227); /* bg-orange-1 */
}
article pre.shiki code.line-numbers {
  counter-reset: step;
  counter-increment: step 0;
}
article pre.shiki code.line-numbers .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(156, 163, 175); /* text-gray */
}
article pre.shiki .title {
  @apply text-gray mb-4 px-6 font-sans text-lg;
}
article details summary::-webkit-details-marker {
  display: none;
}
article table {
  margin-top: 0.5rem; /* my-2 */
  margin-bottom: 0.5rem; /* my-2 */
}
article table th {
  padding: 0.5rem; /* p-2 */
  background-color: rgba(241, 245, 249, 0.5); /* bg-slate-1 */
  border-width: 1px;
}
article table td {
  padding: 0.5rem; /* p-2 */
  border-width: 1px;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.5); /* bg-white */
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  scroll-margin-top: 5.2rem;
}

article ul,
article ol {
  margin-top: 8px;
  margin-bottom: 16px;
  padding-left: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
article ul:first-child,
article ol:first-child {
  margin-top: 0;
}
article ul:last-child,
article ol:last-child {
  margin-bottom: 0;
}
article ul {
  list-style-type: disc;
}
article ol {
  list-style-type: decimal;
}

article ol:has(li > .body) {
  counter-reset: numb;
  list-style: none;
}

article ol:has(li > .body) li > .body,
article ol:has(li > .body) li:not(:has(> .body)) {
  position: relative;
}

article ol:has(li > .body) li > .body::before,
article ol:has(li > .body) li:not(:has(> .body))::before {
  position: absolute;
  top: 0px;
  right: calc(100% + 0.4em);
  text-align: right;
  white-space: nowrap;
  counter-increment: numb;
  content: counter(numb) ". ";
}

article ol:has(li > .body) li:has(> .body) > :not(.body) {
  margin-left: -1.5em;
}

article .parameter--type-def {
  scroll-margin-top: 5.2rem;
}
