---
import LayoutBase from "~/layouts/LayoutBase.astro";
import Component from "./_Page";
import NavMenu from "~/layouts/rest-api/NavMenu.astro";

export const prerender = false;

const [_api, _rest, group = ""] = Astro.url.pathname.split("/").filter(Boolean);
---

<LayoutBase lang="ko" title="PortOne REST API - V1">
  <div class="flex">
    <NavMenu />
    <Component client:visible group={group} />
  </div>
</LayoutBase>
