---
import * as prose from "~/components/prose";
import LayoutBase from "~/layouts/LayoutBase.astro";
import NavMenu from "~/layouts/rest-api/nav-menu/NavMenu.astro";
import { getCategories } from "~/layouts/rest-api/schema-utils/category";
import { getApiSectionDescriptions } from "~/misc/apiSectionDescription";
import schema from "~/schema/v1.openapi.json";

import Component from "./_Page";

const { v1auth } = await getApiSectionDescriptions();

const { slug } = Astro.params;
const [_api, _rest, section = ""] = Astro.url.pathname
  .split("/")
  .filter(Boolean);
---

<LayoutBase
  lang="ko"
  title="PortOne REST API - V1"
  slug={`api/rest-v1${slug ? `/${slug}` : ""}`}
>
  <div class="flex">
    <NavMenu
      title="REST API - V1"
      basepath="/api/rest-v1"
      items={getCategories(schema)}
    />
    <Component client:visible currentSection={section}>
      <v1auth.Content slot="section:auth" components={prose} />
    </Component>
  </div>
</LayoutBase>
