---
import LayoutBase from "~/layouts/LayoutBase.astro";
import Component from "./_Page";
import NavMenu from "~/layouts/rest-api/NavMenu.astro";
import schema from "~/schema/v1.openapi.json";

export const prerender = false;

const [_api, _rest, section = ""] = Astro.url.pathname
  .split("/")
  .filter(Boolean);
---

<LayoutBase lang="ko" title="PortOne REST API - V1">
  <div class="flex">
    <NavMenu
      items={schema.tags.map((tag) => ({
        title: tag.name,
        id: tag.name,
      }))}
    />
    <Component client:visible currentSection={section} />
  </div>
</LayoutBase>
