---
export const prerender = true;

import { getImage, Image } from "astro:assets";

import portoneGradientBg from "../../public/portone-gradient-bg.png";
import portoneLogoWhite from "../../public/portone-logo-white.png";

const optimizedBackground = await getImage({
  src: portoneGradientBg,
  format: "webp",
});
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>PortOne 개발자센터</title>
    <script>
      import "pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css";
    </script>
  </head>
  <body>
    <style is:global>
      :root {
        font-family:
          "Pretendard Variable",
          Pretendard,
          -apple-system,
          BlinkMacSystemFont,
          system-ui,
          Roboto,
          "Helvetica Neue",
          "Segoe UI",
          "Apple SD Gothic Neo",
          "Noto Sans KR",
          "Malgun Gothic",
          "Apple Color Emoji",
          "Segoe UI Emoji",
          "Segoe UI Symbol",
          sans-serif;
      }

      html,
      body {
        height: 100%;
      }
    </style>
    <body>
      <div
        class="h-full flex flex-col items-center justify-center gap-3xl bg-cover text-white"
        style={`background-image: url(${optimizedBackground.src});`}
      >
        <div class="flex flex-col items-center gap-2.5">
          <Image src={portoneLogoWhite} alt="PortOne" class="w-40" />
          <span class="text-7xl font-bold tracking-[0.08em]">404</span>
          <span class="text-2xl tracking-[0.06em]">
            페이지를 찾을 수 없습니다
          </span>
        </div>
        <button
          id="back-button"
          class="flex items-center gap-1 border border-gray-300 rounded-md bg-[rgb(255_255_255_/_4%)] px-4 py-3 transition-colors active:bg-portone focus:bg-[rgb(255_255_255_/16%)] hover:bg-[rgb(255_255_255_/16%)] active:text-white focus:text-portone hover:text-portone"
        >
          <i class="i-ic-baseline-arrow-back text-lg"></i>
          <span class="text-sm">뒤로 돌아가기</span>
        </button>
      </div>
      <script>
        const backBtn = document.getElementById("back-button");
        if (backBtn) {
          backBtn.addEventListener("click", () => {
            history.back();
          });
        }
      </script>
    </body>
  </body>
</html>
