---
import type { Lang } from "../../type";
import Logo from "./Logo.astro";

interface Props {
  lang: Lang;
}
// const { lang } = Astro.props;
---

<div class="h-14">
  <header
    class="fixed w-full h-14 pl-6 flex items-center justify-between border-b bg-white"
  >
    <a href="/">
      <div class="flex gap-2">
        <Logo class="w-22" />
        <span>개발자센터</span>
      </div>
    </a>
    <div class="hidden md:flex gap-4 pr-6">
      <a href="">SDK 놀이터</a>
      <a href="">콘솔</a>
      <div>검색</div>
      <div>언어</div>
    </div>
    <div class="flex md:hidden h-full">
      <button class="px-4"
        ><i class="i-ic-baseline-menu block text-2xl"></i></button
      >
    </div>
  </header>
</div>
