@screen lt-md {
  .nav-active {
    position: relative;
  }

  .nav-active::before {
    position: absolute;
    display: inline-block;
    content: " ";
    mask: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2212%22%20height%3D%229%22%20viewBox%3D%220%200%2012%209%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.3337%201L4.00033%208.33333L0.666992%205%22%20stroke%3D%22%230F172A%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E")
      no-repeat;
    mask-size: 100% 100%;
    background-color: #0f172a;
    top: 0;
    bottom: 0;
    right: calc(100% + 10px);
    width: 10px;
  }
}
