---
interface Props {
  style: "info" | "warning" | "success" | "danger";
}
const { style } = Astro.props;

const cls = `my-4 p-4 flex gap-3 rounded border-l-4 bg-slate-1 ${
  style === "info"
    ? "border-blue-600"
    : style === "warning"
      ? "border-orange-7"
      : style === "success"
        ? "border-green-6"
        : style === "danger"
          ? "border-red-6"
          : ""
}`;
const iconCls = `shrink-0 text-2xl ${
  style === "info"
    ? "i-ic-outline-info text-blue-600"
    : style === "warning"
      ? "i-ic-outline-warning text-orange-7"
      : style === "success"
        ? "i-ic-sharp-check-circle-outline text-green-6"
        : style === "danger"
          ? "i-ic-outline-warning text-red-6"
          : ""
}`;
---

<div class={cls}>
  <i class={iconCls}></i>
  <div><slot /></div>
</div>
