article:has(.prose-marker) h1 {
  @apply text-6 mt-12px mb-12px font-500 leading-[28.8px] tracking-[-.021em] first:mt-0 last:mb-0;
}
article:has(.prose-marker) h2 {
  @apply text-5 mt-12px mb-12px font-500 leading-[24px] tracking-[-.02em] first:mt-0 last:mb-0;
}
article:has(.prose-marker) h3 {
  @apply text-[18px] mt-12px mb-12px font-500 leading-[22px] tracking-[-.018em] first:mt-0 last:mb-0;
}
article:has(.prose-marker) h4 {
  @apply text-[15px] mt-8px mb-8px font-500 leading-5 tracking-[-.014em] first:mt-0 last:mb-0;
}
article:has(.prose-marker) h5 {
  @apply text-.875rem mt-8px mb-8px font-medium leading-[1.4] tracking-[-.006em] first:mt-0 last:mb-0;
}
article:has(.prose-marker) h6 {
  @apply text-.875rem mt-8px mb-8px font-medium leading-[1.4] tracking-[-.006em] first:mt-0 last:mb-0;
}
article:has(.prose-marker) p {
  @apply mt-8px mb-8px leading-5 font-400 first:mt-0 last:mb-0;
}
article:has(.prose-marker) a {
  @apply text-orange-5 hover:text-orange-7 cursor-pointer hover:underline;
}
article:has(.prose-marker) blockquote {
  @apply my-2 border-l-4 pl-4;
}
