article:has(.prose-marker) h1 {
  @apply text-1.875rem mt-12px mb-12px font-600 leading-[1.15] tracking-[-.021em] first:mt-0 last:mb-0;
}
article:has(.prose-marker) h2 {
  @apply text-1.625rem mt-12px mb-12px font-600 leading-[1.22] tracking-[-.02em] first:mt-0 last:mb-0;
}
article:has(.prose-marker) h3 {
  @apply text-1.375rem mt-12px mb-12px font-600 leading-[1.25] tracking-[-.018em] first:mt-0 last:mb-0;
}
article:has(.prose-marker) h4 {
  @apply text-1.125rem mt-8px mb-8px font-600 leading-[1.35] tracking-[-.014em] first:mt-0 last:mb-0;
}
article:has(.prose-marker) h5 {
  @apply text-.875rem mt-8px mb-8px font-medium leading-[1.4] tracking-[-.006em] first:mt-0 last:mb-0;
}
article:has(.prose-marker) h6 {
  @apply text-.875rem mt-8px mb-8px font-medium leading-[1.4] tracking-[-.006em] first:mt-0 last:mb-0;
}
article:has(.prose-marker) p {
  @apply mt-8px mb-8px leading-[1.5] first:mt-0 last:mb-0;
}
article:has(.prose-marker) a {
  @apply cursor-pointer text-orange-5 hover:text-orange-7 hover:underline;
}
article:has(.prose-marker) blockquote {
  @apply my-2 border-l-4 pl-4;
}
