---
interface Props {
  name: string;
  type: string;
  required: boolean;
}
const { name, type, required } = Astro.props;
---

<div
  class="py-2 text-slate-500 grid gap-2 grid-cols-2 md:grid-cols-[1fr_8em_2fr] border-b border-slate-1 last:border-t-0"
>
  <div class="text-sm font-mono">
    <span>{name}</span>{required && <span class="text-red-6">*</span>}
  </div>
  <div class="text-sm">{type}</div>
  <div><slot /></div>
</div>
