---
import { MethodBadge } from "./index";
import Details from "../Details.astro";

interface Props {
  method: "get" | "post" | "put" | "delete";
  path: string;
  baseUrl: string;
  summary: string;
}
const { method, path, baseUrl, summary } = Astro.props;
---

<Details>
  <div slot="summary">
    <div>
      <MethodBadge method={method} />
      <span class="ml-2 text-sm text-gray"
        ><span>{baseUrl}</span><span class="text-black font-bold">{path}</span
        ></span
      >
    </div>
    <div class="mt-3 font-bold">
      <p>{summary}</p>
    </div>
  </div>
  <slot />
</Details>
