---
interface Props {
  name: string;
  type: string;
  required: boolean;
}
const { name, type, required } = Astro.props;
---

<div
  class="py-2 grid gap-2 grid-cols-2 md:grid-cols-[1fr_8em_2fr] text-sm text-slate-500 border-b border-slate-1 last:border-t-0"
>
  <div class="font-mono">
    <span>{name}</span>{String(required) === "true" && <span class="text-red-6">*</span>}
  </div>
  <div>{type}</div>
  <div class="col-span-2 md:col-auto"><slot /></div>
</div>
