---
import * as prose from "~/components/prose";
import LayoutBase from "~/layouts/LayoutBase.astro";
import Nav from "~/layouts/platform/Nav.astro";
import { getPlatformDocuments } from "~/misc/platform";

const { guides, usages } = await getPlatformDocuments();
---

<LayoutBase lang="ko" title="파트너정산 가이드" slug="platform" navAsMenu>
  <div class="flex">
    <aside
      id="left-sidebar"
      class="relative hidden w-65 shrink-0 text-slate-700 md:block"
    >
      <div
        class="fixed h-[calc(100%-3.5rem)] w-inherit overflow-y-scroll border-r bg-white"
      >
        <Nav
          guides={guides}
          usages={usages}
        />
      </div>
    </aside>
    <div class="mx-auto shrink basis-200">
      <article class="m-4 flex flex-col text-slate-700">
        <prose.h1>파트너 정산 자동화</prose.h1>
        <p class="my-4 text-xl text-gray">
          파트너 정산 자동화 서비스에 대한 가이드 입니다.
        </p>
      </article>
    </div>
  </div>
</LayoutBase>
