---
import { clsx } from "clsx";

interface Props {
  class?: string;
}

const { class: klass } = Astro.props;
const id = crypto.randomUUID();
---

<div data-profile-image={id} class={clsx("relative", klass)}>
  <slot />
  <div class="overlay"></div>
</div>
<script is:inline define:vars={{ id }}>
  (() => {
    const wrapper = document.querySelector(`[data-profile-image="${id}"]`);
    const image = wrapper?.querySelector("img");
    const overlay = wrapper?.querySelector(".overlay");
    if (image) {
      if (image.complete) {
        overlay.remove();
      } else {
        image.addEventListener("load", () => {
          image.classList.add("loaded");
        });
      }
    }
  })();
</script>
<style is:global>
  [data-profile-image] .overlay {
    z-index: 10;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
    position: absolute;
    display: block;
    inset: 0;
    border-radius: 100%;
    background-color: #ccc;
    content: "";
  }
  [data-profile-image] .loaded + .overlay {
    opacity: 0;
  }
</style>
