---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{
  tags.length > 0 && (
    <div class="flex gap-2">
      <i class="i-ic-baseline-label text-slate-4 leading-18px inline-block text-lg" />
      <ul class="m-0 flex list-none flex-row flex-wrap gap-x-3 gap-y-2 p-0">
        {tags.map((tag) => (
          <li class="text-slate-4 hover:text-slate-5 leading-18px transition-colors">
            <a href={`/blog/tags/${encodeURIComponent(tag)}`}>{tag}</a>
          </li>
        ))}
      </ul>
    </div>
  )
}
