---
import clsx from "clsx";

interface Props {
  tags: string[];
  variant?: "default" | "compact";
}

const { tags, variant = "default" } = Astro.props;
---

{
  tags.length > 0 && (
    <div
      class={clsx(
        "flex",
        variant === "compact" ? "text-sm gap-1" : "text-base gap-2",
      )}
    >
      <i
        class={clsx(
          "i-ic-baseline-label inline-block text-slate-4",
          variant === "compact" ? "text-base h-18px" : "text-lg h-18px",
        )}
      />
      <ul
        class={clsx(
          "m-0 flex flex-row flex-wrap list-none p-0",
          variant === "compact" ? "gap-x-2 gap-y-1" : "gap-x-3 gap-y-2",
        )}
      >
        {tags.map((tag) => (
          <li class="text-slate-4 leading-18px transition-colors hover:text-slate-5">
            <a href={`/blog/tags/${encodeURIComponent(tag)}`}>{tag}</a>
          </li>
        ))}
      </ul>
    </div>
  )
}
