---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{
  tags.length > 0 && (
    <div class="flex items-center gap-2">
      <i class="i-ic-baseline-label text-slate-4 inline-block text-lg" />
      <ul class="m-0 flex list-none flex-row flex-wrap gap-3 p-0">
        {tags.map((tag) => (
          <li class="text-slate-4 hover:text-slate-5 transition-colors">
            <a href={`/blog/tags/${encodeURIComponent(tag)}`}>{tag}</a>
          </li>
        ))}
      </ul>
    </div>
  )
}
