{"swagger":"2.0","info":{"title":"아임포트 REST API","description":"* 결제완료된 정보, 결제취소, 상태별 결제목록 조회 등의 기능을 하는 REST API를 제공합니다.<br> 비인증결제, 정기 자동결제 등 부가기능을 위한 REST API를 제공합니다.","contact":{"name":"(주)아임포트 서비스팀","url":"https://admin.iamport.kr","email":"support@iamport.kr"},"version":"1.0"},"host":"api.iamport.kr","basePath":"/","schemes":["https"],"paths":{"/users/getToken":{"post":{"tags":["authenticate"],"description":"API키 & API secret으로 access_token을 발급받습니다.","operationId":"getToken","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_key","in":"formData","description":"REST API 키 (아임포트 관리자 페이지의 <내정보>에서 확인하실 수 있습니다 : https://admin.iamport.kr)","required":true,"type":"string"},{"name":"imp_secret","in":"formData","description":"REST API Secret (아임포트 관리자 페이지의 <내정보>에서 확인하실 수 있습니다 : https://admin.iamport.kr)","required":true,"type":"string"}],"responses":{"200":{"description":"정상적으로 access_token을 받아왔습니다","schema":{"$ref":"#/definitions/AuthResponse"}},"401":{"description":"imp_key, imp_secret 인증에 실패한 경우"}}}},"/benepia/point":{"post":{"tags":["benepia"],"summary":"API를 통해 베네피아 포인트(복지포인트)조회","description":"사용자로부터 베네피아 계정 아이디, 비밀번호를 전달받아 보유중인 베네피아 포인트를 조회할 수 있습니다.<br>KCP를 통해서만 진행되므로 KCP사이트코드 발급이 필요합니다.","operationId":"queryBenepiaPoint","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"benepia_user","in":"formData","description":"베네피아 계정 아이디","required":true,"type":"string"},{"name":"benepia_password","in":"formData","description":"베네피아 계정 비밀번호","required":true,"type":"formData"},{"name":"pg","in":"formData","description":"KCP PG설정이 2개 이상인 경우, 조회가 진행되길 원하는 KCP사이트코드를 지정하실 수 있습니다. pg 파라메터는 <b>kcp.{KCP사이트코드}</b> 형식의 문자열입니다. pg 파라메터가 누락되는 경우 PG설정 내 KCP설정을 자동 탐색하여 처리하게 됩니다.","required":false,"type":"formData"}],"responses":{"200":{"description":"베네피아 포인트 조회 완료","schema":{"$ref":"#/definitions/BenepiaPointResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"500":{"description":"베네피아 포인트 조회 실패"}}}},"/benepia/payment":{"post":{"tags":["benepia"],"summary":"API를 통해 베네피아 포인트(복지포인트)사용 결제요청","description":"사용자로부터 전달받은 베네피아 계정 아이디, 비밀번호와 함께 결제정보를 요청하여 베네피아 포인트 사용처리합니다. <br>KCP를 통해서만 진행되므로 KCP사이트코드 발급이 필요합니다.","operationId":"payBenepiaPoint","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"benepia_user","in":"formData","description":"베네피아 계정 아이디","required":true,"type":"string"},{"name":"benepia_password","in":"formData","description":"베네피아 계정 비밀번호","required":true,"type":"formData"},{"name":"merchant_uid","in":"formData","description":"가맹점 거래 고유번호. 이미 결제가 이뤄진 적이 있는 merchant_uid로는 결제요청이 불가능합니다.","required":true,"type":"string","maxLength":40},{"name":"amount","in":"formData","description":"결제요청금액","required":true,"type":"number"},{"name":"name","in":"formData","description":"주문명","required":true,"type":"string","maxLength":40},{"name":"buyer_name","in":"formData","description":"주문자명","required":false,"type":"string","maxLength":16},{"name":"buyer_email","in":"formData","description":"주문자 E-mail주소","required":false,"type":"string","maxLength":64},{"name":"buyer_tel","in":"formData","description":"주문자 전화번호","required":false,"type":"string","maxLength":16},{"name":"buyer_addr","in":"formData","description":"주문자 주소","required":false,"type":"string","maxLength":128},{"name":"buyer_postcode","in":"formData","description":"주문자 우편번호","required":false,"type":"string","maxLength":8},{"name":"pg","in":"formData","description":"KCP PG설정이 2개 이상인 경우, 결제가 진행되길 원하는 KCP사이트코드를 지정하실 수 있습니다. pg 파라메터는 <b>kcp.{KCP사이트코드}</b> 형식의 문자열입니다. pg 파라메터가 누락되는 경우 PG설정 내 KCP설정을 자동 탐색하여 처리하게 됩니다.","required":false,"type":"formData"},{"name":"notice_url","in":"formData","description":"가상계좌 입금시 입금통지받을 URL. 선언되지 않으면 아임포트 관리자 페이지에 정의된 Notification URL값을 사용","required":false,"type":"array"},{"name":"custom_data","in":"formData","description":"결제정보와 함께 저장할 custom_data. 객체로 전달되는 경우 JSON 문자열로 저장","required":false,"type":"string"}],"responses":{"200":{"description":"베네피아 포인트 결제 완료","schema":{"$ref":"#/definitions/PaymentResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"500":{"description":"베네피아 포인트 결제 실패"}}}},"/certifications/{imp_uid}":{"get":{"tags":["certifications"],"summary":"휴대폰 본인인증 결과를 조회합니다","description":"휴대폰 본인인증된 결과를 조회할 때 사용합니다.","operationId":"getCertification","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"휴대폰 본인인증결과 조회 완료","schema":{"$ref":"#/definitions/CertificationResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"휴대폰 본인인증결과를 찾을 수 없음"}}},"delete":{"tags":["certifications"],"summary":"휴대폰 본인인증 결과를 삭제합니다.","description":"휴대폰 본인인증 결과정보를 아임포트에서 완전히 삭제하고 싶을 때 요청합니다.","operationId":"deleteCertification","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"휴대폰 본인인증결과 삭제 완료","schema":{"$ref":"#/definitions/CertificationResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"휴대폰 본인인증결과를 찾을 수 없음"},"500":{"description":"DB삭제도중 서버 장애 발생"}}}},"/certifications/otp/request":{"post":{"tags":["certifications"],"summary":"API방식으로 휴대폰 본인인증 프로세스를 시작합니다.","description":"사용자 개인정보를 API로 전달하여, 통신사로부터 확인되는 경우 OTP(6자리 인증번호)를 사용자에게 SMS로 전달합니다.\n<br><br>통신사 승인을 받은 일부 가맹점에 한해 사용하실 수 있으며, 현재 다날을 통해서만 서비스되고 있습니다.\n<br><br>본인인증 대상자의 성명, 생년월일 + 주민등록 뒷부분 첫 자리, 휴대폰번호, 통신사 정보를 가맹점에서 직접 입력받아 API요청하면 됩니다. 전달된 개인정보가 올바를 경우 해당 휴대폰으로 인증번호 SMS가 전송됩니다.\n<br><br>200응답 시 imp_uid 가 응답데이터로 전달되며, SMS전송된 인증번호를 /certifications/otp/confirm/{imp_uid} API 로 요청주시면 최종 본인인증 프로세스가 완료됩니다.","operationId":"requestOTP","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"name","in":"formData","description":"본인인증 대상자 성명","required":true,"type":"string"},{"name":"phone","in":"formData","description":"본인인증 대상자 전화번호(- 또는 . 과 같은 기호가 포함되어도 무방 - 아임포트 내에서 숫자 외에는 정규식으로 모두 제거처리함)","required":true,"type":"string"},{"name":"birth","in":"formData","description":"본인인증 대상자 생년월일 YYMMDD 6자리(연/월/일 사이에 - 또는 . 과 같은 기호가 포함되어도 무방 - 아임포트 내에서 숫자 외에는 정규식으로 모두 제거처리함)","required":true,"type":"string"},{"name":"gender_digit","in":"formData","description":"본인인증 대상자 주민등록번호 뒷부분 첫자리(주민등록번호 13자리 중 7번째 자리. 2000년 이전 출생자는 1 또는 2, 2000년 이후 출생자는 3 또는 4)","required":true,"type":"string"},{"name":"carrier","in":"formData","description":"본인인증 대상자 통신사 코드 (알뜰폰 사용자의 경우, carrier파라메터 SKT, KT, LGT 중 하나를 지정한 후 is_mvno : true 로 설정)","required":true,"type":"string","enum":["SKT","KT","LGT"]},{"name":"is_mvno","in":"formData","description":"본인인증 대상자 알뜰폰 사용 여부","required":false,"type":"boolean","default":"false"},{"name":"company","in":"formData","description":"가맹점 서비스명칭 또는 domain URL. KISA에서 대상자에게 발송하는 SMS에 안내될 서비스 명칭","required":false,"type":"string"},{"name":"merchant_uid","in":"formData","description":"본인인증 요청건을 식별하기 위한 가맹점 주문번호","required":false,"type":"string"},{"name":"pg","in":"formData","description":"PG사 구분자. 다날 상점아이디를 2개 이상 동시에 사용하시려는 경우 설정하시면 됩니다. <strong>danal.{상점아이디}</strong> 형태로 지정","required":false,"type":"string"}],"responses":{"200":{"description":"본인인증을 위한 대상자 정보 검증 완료(인증번호 SMS전송요청 중)","schema":{"$ref":"#/definitions/CertificationOTPResponse"}},"400":{"description":"대상자 개인정보 중 일부가 누락되었거나 올바르지 않은 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"500":{"description":"처리 중 다날서버 응답오류 등 오류가 발생한 경우"}}}},"/certifications/otp/confirm/{imp_uid}":{"post":{"tags":["certifications"],"summary":"API방식으로 휴대폰 본인인증 진행 시, SMS로 전송된 인증번호를 전달하여 본인인증을 완료합니다.","description":"/certifications/otp/request API를 통해 SMS로 전송된 인증번호를 전달하여 본인인증을 완료합니다.\n본인인증이 완료되면 대상자의 이름, 전화번호, 통신사, 성별, 외국인여부, 생년월일, CI, DI 값을 응답받을 수 있습니다.","operationId":"confirmOTP","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"/certifications/otp/request 후 응답된 imp_uid","required":true,"type":"string"},{"name":"otp","in":"formData","description":"SMS로 전송된 본인인증 번호","required":true,"type":"string"}],"responses":{"200":{"description":"본인인증완료","schema":{"$ref":"#/definitions/CertificationResponse"}},"400":{"description":"인증번호를 누락하였거나 이미 인증처리가 완료된 건에 대해 재요청하는 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid 에 해당되는 요청건이 없는 경우"},"500":{"description":"처리 중 다날서버 응답오류 등 오류가 발생한 경우"}}}},"/subscribe/customers":{"get":{"tags":["subscribe.customer"],"description":"여러 개의 빌링키를 한 번에 조회하는 API입니다.<br><br>등록된 카드마다 1개의 customer_uid가 매핑되므로, 가맹점 시스템 내에 1명의 고객이 여러 장의 카드를 등록할 수 있는 경우 여러 개의 customer_uid를 가지게 됩니다. 해당 고객이 등록해놓은 카드정보 목록을 한 번에 조회하는데 사용하면 편리합니다.<br><br>예시) /subscribe/customers?customer_uid[]=hong_1234_a&customer_uid[]=hong_1234_b","operationId":"customer_view_multiple","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"customer_uid[]","in":"query","description":"구매자 고유 번호","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","default":"customer_1234"}],"responses":{"200":{"description":"요청된 모든 customer_uid 에 대한 빌키정보 응답완료","schema":{"$ref":"#/definitions/MultipleCustomersResponse"}},"207":{"description":"요청된 customer_uid 중 일부 빌키정보 조회 실패(ex. 접근권한없음 또는 존재하지 않는 customer_uid)","schema":{"$ref":"#/definitions/MultipleCustomersResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"유효하지 않은 customer_uid"}}}},"/subscribe/customers/{customer_uid}":{"get":{"tags":["subscribe.customer"],"description":"구매자의 빌링키 정보 조회","operationId":"customer_view","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"customer_uid","in":"path","description":"구매자 고유 번호","required":true,"type":"string","default":"customer_1234"}],"responses":{"200":{"description":"정상 조회","schema":{"$ref":"#/definitions/CustomerResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"유효하지 않은 customer_uid"}}},"post":{"tags":["subscribe.customer"],"description":"구매자에 대해 빌링키 발급 및 저장","operationId":"customer_save","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"customer_uid","in":"path","description":"결제 수단 식별 고유 번호","required":true,"type":"string","default":"customer_1234","maxLength":80},{"name":"pg","in":"formData","description":"API 방식 비인증 PG설정이 2개 이상인 경우, 결제가 진행되길 원하는 PG사를 지정하실 수 있습니다. pg 파라메터는 <b>{PG사}</b> 혹은 <b>{PG사}.{PG상점아이디}</b> 형태의 문자열입니다. <br>지정하지 않거나 유효하지 않은 값이 전달되면 기본PG설정된 값을 이용해 결제하게 됩니다. <br><ul><li>나이스페이먼츠, JTNet 2가지 PG설정이 되어있다면, pg 파라메터로 <b>nice</b> 또는 <b>jtnet</b>로 구분 가능</li><li>나이스페이먼츠로부터 2개 이상의 상점아이디를 발급받았다면, <b>nice.MID1</b> 또는 <b>nice.MID2</b>로 구분 가능</li></ul>","required":false,"type":"string","maxLength":80},{"name":"customer_id","in":"formData","description":"구매자 식별 고유 번호","required":false,"type":"string"},{"name":"card_number","in":"formData","description":"카드번호(dddd-dddd-dddd-dddd)","required":true,"type":"string"},{"name":"expiry","in":"formData","description":"카드 유효기간(YYYY-MM)","required":true,"type":"string"},{"name":"birth","in":"formData","description":"생년월일6자리(법인카드의 경우 사업자등록번호10자리)<br> PG사별로 혹은 계약상황에따라 필수값 여부가 상이합니다.","required":false,"type":"string"},{"name":"pwd_2digit","in":"formData","description":"카드비밀번호 앞 2자리","required":false,"type":"string"},{"name":"cvc","in":"formData","description":"카드 인증번호 (카드 뒷면 3자리, AMEX의 경우 4자리). Paymentwall에서만 사용","required":false,"type":"string"},{"name":"customer_name","in":"formData","description":"고객(카드소지자) 관리용 성함","required":false,"type":"string","maxLength":20},{"name":"customer_tel","in":"formData","description":"고객(카드소지자) 전화번호","required":false,"type":"string","maxLength":20},{"name":"customer_email","in":"formData","description":"고객(카드소지자) Email","required":false,"type":"string","maxLength":200},{"name":"customer_addr","in":"formData","description":"고객(카드소지자) 주소","required":false,"type":"string","maxLength":200},{"name":"customer_postcode","in":"formData","description":"고객(카드소지자) 우편번호","required":false,"type":"string","maxLength":8}],"responses":{"200":{"description":"정상 등록","schema":{"$ref":"#/definitions/CustomerResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"}}},"delete":{"tags":["subscribe.customer"],"description":"구매자의 빌링키 정보 삭제(DB에서 빌링키를 삭제[delete] 합니다)","operationId":"customer_delete","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"customer_uid","in":"path","description":"구매자 고유 번호","required":true,"type":"string","default":"customer_1234"},{"name":"reason","in":"query","description":"삭제사유","required":false,"type":"string"},{"name":"extra[requester]","in":"query","description":"삭제 요청자(네이버페이에서만 사용)","required":false,"type":"string","default":"admin"}],"responses":{"200":{"description":"정상 삭제","schema":{"$ref":"#/definitions/CustomerResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"유효하지 않은 customer_uid"}}}},"/subscribe/customers/{customer_uid}/payments":{"get":{"tags":["subscribe.customer"],"description":"구매자의 빌링키로 결제된 결제목록 조회","operationId":"customer_payments","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"customer_uid","in":"path","description":"구매자 고유 번호","required":true,"type":"string","default":"customer_1234"},{"name":"page","in":"query","description":"페이징 페이지. 1부터 시작","required":false,"type":"integer","default":"1"}],"responses":{"200":{"description":"정상 조회","schema":{"$ref":"#/definitions/PaymentListResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"유효하지 않은 customer_uid"}}}},"/subscribe/customers/{customer_uid}/schedules":{"get":{"tags":["subscribe.customer"],"description":"[GET /subscribe/payments/schedule/customers/{customer_uid}] 와 동일한 동작을 하는 API입니다.<br><br>customer_uid별 결제예약목록을 조회할 수 있습니다. 결제예약정보가 (페이징된)목록으로 전달되며, 최대 3개월 단위로 조회가 가능합니다.<br><br>결제예약정보가 예약된 시각 기준으로 최신순으로 정렬되어 전달됩니다.","operationId":"findSchedulesByCustomer","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"customer_uid","in":"path","description":"결제예약에 사용된 가맹점 거래 고유번호","required":true,"type":"string"},{"name":"page","in":"query","description":"조회목록 페이징. 1부터 시작하며, 기본값은 1입니다.","required":false,"type":"integer"},{"name":"from","in":"query","description":"조회 시작시각 unix timestamp(결제예약건의 '예약시각'기준으로 조회합니다. from <= '예약시각')","required":true,"type":"integer"},{"name":"to","in":"query","description":"조회 종료시각 unix timestamp(결제예약건의 '예약시각'기준으로 조회합니다. '예약시각' < to)","required":true,"type":"integer"},{"name":"schedule-status","in":"query","description":"예약상태. 누락되면 모든 상태의 예약내역 조회","required":false,"type":"string","enum":["scheduled","executed","revoked"]}],"responses":{"200":{"description":"결제예약목록 조회완료","schema":{"$ref":"#/definitions/ScheduleResponse"}},"400":{"description":"검색 파라메터가 유효하지 않은 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"}}}},"/cvs":{"post":{"tags":["cvs"],"summary":"편의점결제 수납번호(barcode)를 발급 또는 등록합니다.","description":"편의점결제를 위한 수납번호(barcode)를 사전 발급 또는 등록합니다. 고객은 발급 또는 등록된 수납번호(barcode)에 해당되는 바코드 이미지 또는 수납번호를 편의점 방문시 제시함으로써 현장 결제가 이뤄지게 됩니다.","operationId":"issueCvsPayment","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"merchant_uid","in":"formData","description":"가맹점 거래 고유번호. 이미 결제가 이뤄진 적이 있는 merchant_uid로는 추가적인 편의점결제 수납번호(barcode) 발급 또는 등록이 불가능합니다.","required":true,"type":"string","maxLength":40},{"name":"amount","in":"formData","description":"결제금액","required":true,"type":"number"},{"name":"barcode","in":"formData","description":"가맹점에서 직접 생성, 관리하는 바코드(barcode)번호가 있는 경우, 갤럭시아컴즈로부터 신규 수납번호(barcode)를 발급요청하지 않고 가맹점에서 관리하는 바코드(barcode)번호를 등록하여 수납번호로 활용할 수 있다.","required":false,"type":"string"},{"name":"expired_at","in":"formData","description":"편의점 수납가능한 결제기한(Unix Timestamp). 정의하지 않으면 갤럭시아컴즈와 계약시 협의한 기본값이 적용됨","required":false,"type":"integer"},{"name":"name","in":"formData","description":"주문명","required":false,"type":"string","maxLength":40},{"name":"buyer_name","in":"formData","description":"주문자명","required":false,"type":"string","maxLength":16},{"name":"buyer_email","in":"formData","description":"주문자 E-mail주소","required":false,"type":"string","maxLength":64},{"name":"buyer_tel","in":"formData","description":"주문자 전화번호","required":false,"type":"string","maxLength":16},{"name":"buyer_addr","in":"formData","description":"주문자 주소","required":false,"type":"string","maxLength":128},{"name":"buyer_postcode","in":"formData","description":"주문자 우편번호","required":false,"type":"string","maxLength":8},{"name":"pg","in":"formData","description":"PG사 구분자. 갤럭시아컴즈 상점아이디를 2개 이상 동시에 사용하시려는 경우 설정하시면 됩니다. <strong>galaxia.{상점아이디}</strong> 형태로 지정","required":false,"type":"string"},{"name":"confirm_url","in":"formData","description":"고객이 편의점결제 수납시도 시 수납가능여부를 체크하기 위한 URL. 설정하지 않은 결제에 대해서는 항상 수납가능으로 간주하고 수납성공진행 됨. 설정된 결제에 대해서는 해당 URL로 아래와 같은 형식의 데이터가 Webhook(HTTP POST)으로 전송되며 200응답 == 수납가능 / 그 외응답 == 수납불가 처리\n<pre>{\n    event : 'Galaxia.Cvs.Confirm',\n    imp_uid : 'imp_123412341234',\n    merchant_uid : 'asdfasdfasdf',\n    status : 'ready',\n    extra : {\n        barcode : '11222222',\n        payType : 'card' //card or cash\n    }\n}</pre>","required":false,"type":"string"},{"name":"notice_url","in":"formData","description":"편의점결제 수납성공 시 통지받을 URL. 선언되지 않으면 아임포트 관리자 페이지에 정의된 Notification URL값을 사용","required":false,"type":"array"},{"name":"custom_data","in":"formData","description":"결제정보와 함께 저장할 custom_data. 객체로 전달되는 경우 JSON 문자열로 저장","required":false,"type":"string"}],"responses":{"200":{"description":"편의점결제 수납번호(barcode) 생성 완료","schema":{"$ref":"#/definitions/PaymentResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"}}}},"/cvs/{imp_uid}":{"delete":{"tags":["cvs"],"summary":"편의점결제 발급/등록된 수납번호(barcode)를 말소처리합니다.","description":"고객에게 이미 발급/등록된 편의점결제 수납번호(barcode)가 아직 수납 전일 때, 재고소진 등에 상황에 따라 해당 수납번호(barcode)로 결제가 이뤄지지 않도록 말소처리하는 API입니다.","operationId":"revokeCvsPayment","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"편의접결제 수납번호(barcode) 발급/등록된 아임포트 거래고유번호","required":true,"type":"string"}],"responses":{"200":{"description":"편의점결제 수납번호(barcode) 말소 완료","schema":{"$ref":"#/definitions/PaymentResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"}}}},"/escrows/logis/{imp_uid}":{"get":{"tags":["escrow.logis"],"description":"에스크로 결제 건에 대한 배송정보 조회<br><br>택배사 코드표 : https://github.com/iamport/iamport-manual/blob/master/RESTAPI/logis.md<h4>지원되는 PG사</h4><ul> <li>KG이니시스</li> <li>NHN KCP</li> <li>페이조아(다우테이타)</li> <li>KSPAY</li> <li>스마트로 - 신모듈(PG사와의 사전 계약이 반드시 필요합니다.)</li> <li>(신) 나이스페이</li> </ul>","operationId":"escrow_logis_get","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"아임포트 거래 고유 번호","required":true,"type":"string","default":"imp_12345678912"}],"responses":{"200":{"description":"정상 조회","schema":{"$ref":"#/definitions/EscrowLogisResponse"}},"400":{"description":"필수 파라메터가 누락되거나 (PG사별로 필수 여부가 다를 수 있음), 지원하는 않는 PG사인 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"배송정보를 조회할 거래건이 존재하지 않음"},"409":{"description":"등록된 배송정보가 존재하지 않습니다."},"500":{"description":"배송정보 조회 도중 오류 발생"}}},"put":{"tags":["escrow.logis"],"description":"에스크로 결제 건에 대해서 PUT /escrows/logis/{imp_uid} 로 등록된 배송정보를 수정하는 API 입니다.(2-depth의 json으로 Request Body가 구성되어야 합니다)<br><br>logis는 하위 필드가 모두 필수입니다.<br>sender, receiver의 각 세부 항목은 PG사마다 필수 여부가 모두 다릅니다.<br><br>택배사 코드표 : https://github.com/iamport/iamport-manual/blob/master/RESTAPI/logis.md <br> <h4>지원되는 PG사</h4><ul> <li>KG이니시스</li> <li>NHN KCP</li> <li>페이조아(다우테이타)</li> <li>KSPAY</li> <li>스마트로 - 신모듈 (PG사와의 사전 계약이 반드시 필요합니다.)</li></ul>","operationId":"escrow_logis_edit","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"아임포트 거래 고유 번호","required":true,"type":"string","default":"imp_12345678912"},{"name":"sender","in":"formData","description":"발신자 정보","required":true,"schema":{"$ref":"#/definitions/EscrowLogisSenderAnnotation"},"type":"string"},{"name":"receiver","in":"formData","description":"수신자 정보","required":true,"schema":{"$ref":"#/definitions/EscrowLogisReceiverAnnotation"},"type":"string"},{"name":"logis","in":"formData","description":"배송정보<br>택배사코드표는 매뉴얼 참조","required":true,"schema":{"$ref":"#/definitions/EscrowLogisInfoAnnotation"},"type":"string"}],"responses":{"200":{"description":"수정 완료","schema":{"$ref":"#/definitions/EscrowLogisResponse"}},"400":{"description":"필수 파라메터가 누락되거나 (PG사별로 필수 여부가 다를 수 있음), 지원하는 않는 PG사인 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"배송정보를 수정할 거래건이 존재하지 않음"},"405":{"description":"POST요청이 아닌 경우"},"409":{"description":"해당거래건은 배송정보를 수정할 수 없는 경우"},"500":{"description":"배송정보 수정 도중 오류 발생"}}},"post":{"tags":["escrow.logis"],"description":"에스크로 결제 건에 대한 배송정보 등록(2-depth의 json으로 Request Body가 구성되어야 합니다)<br><br>logis는 하위 필드가 모두 필수입니다.<br>sender, receiver의 각 세부 항목은 PG사마다 필수 여부가 모두 다릅니다.<br><br>택배사 코드표 : https://github.com/iamport/iamport-manual/blob/master/RESTAPI/logis.md<h4>지원되는 PG사</h4><ul> <li>KG이니시스</li> <li>NHN KCP</li> <li>페이조아(다우테이타)</li> <li>KSPAY</li>  <li>스마트로 - 신모듈(PG사와의 사전 계약이 반드시 필요합니다.)</li> <li>(신) 나이스페이</li> </ul>","operationId":"escrow_logis_save","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"아임포트 거래 고유 번호","required":true,"type":"string","default":"imp_12345678912"},{"name":"sender","in":"formData","description":"발신자 정보","required":true,"schema":{"$ref":"#/definitions/EscrowLogisSenderAnnotation"},"type":"string"},{"name":"receiver","in":"formData","description":"수신자 정보","required":true,"schema":{"$ref":"#/definitions/EscrowLogisReceiverAnnotation"},"type":"string"},{"name":"logis","in":"formData","description":"배송정보<br>택배사코드표는 매뉴얼 참조","required":true,"schema":{"$ref":"#/definitions/EscrowLogisInfoAnnotation"},"type":"string"},{"name":"send_email","in":"formData","description":"에스크로 구매 확정시 결제 창에 입력했던 이메일로 해당 사실을 전송할지 여부((신) 나이스페이 전용. 기본값: true)","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"정상 등록","schema":{"$ref":"#/definitions/EscrowLogisResponse"}},"400":{"description":"필수 파라메터가 누락되거나 (PG사별로 필수 여부가 다를 수 있음), 지원하는 않는 PG사인 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"배송정보를 등록할 거래건이 존재하지 않음"},"405":{"description":"POST요청이 아닌 경우"},"409":{"description":"이미 배송정보 등록이 완료됨, 해당거래건은 배송정보를 등록할 수 없는경우"},"500":{"description":"배송정보 등록 도중 오류 발생"}}}},"/kakao/payment/orders":{"get":{"tags":["kakao"],"summary":"(카카오페이) 주문내역조회 API","description":"(카카오페이) <a href='https://developers.kakao.com/docs/restapi/kakaopay-api#주문내역조회'>카카오페이 주문내조회 API</a>를 래핑한 API 입니다. 지원되는 request가 유사하며 응답되는 response는 카카오페이 API 와 동일합니다.","operationId":"getOrders","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"payment_request_date","in":"query","description":"YYYYMMDD 형식의 조회 날짜를 지정하시면 됩니다.","required":true,"type":"string"},{"name":"cid","in":"query","description":"아임포트 내 설정된 카카오페이 CID를 기본값으로 합니다. 아임포트 계정 내 복수의 카카오페이 CID가 설정된 경우 지정하시면 됩니다.","required":false,"type":"string"},{"name":"page","in":"query","description":"페이지 숫자(1부터 시작, 1이 기본값)","required":false,"type":"integer"}],"responses":{"200":{"description":"카카오페이 주문내역조회 성공. 응답데이터는 <a href='https://developers.kakao.com/docs/restapi/kakaopay-api#주문내역조회'>카카오페이 주문내조회 API</a> 참조","schema":{"$ref":"#/definitions/KakaoOrderResponse"}}}}},"/kcpquick/members/{member_id}":{"delete":{"tags":["kcpquick"],"description":"(KCP 퀵페이 가맹점만 해당)구매자의 KCP 퀵페이 정보 삭제(DB에서 KCP 퀵페이 정보를 삭제[delete] 합니다)","operationId":"member_delete","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"member_id","in":"path","description":"구매자 고유 아이디(memberID)","required":true,"type":"string","default":"memberID"},{"name":"site_code","in":"query","description":"KCP 퀵페이 등록 시 사용한 사이트 코트(SITE CD).","required":true,"type":"string","default":"IX0XX","maxLength":80},{"name":"partner_type","in":"query","description":"KCP 퀵페이 등록 시 사용한 파트너 타입.","required":true,"type":"string","default":"IX99","maxLength":80},{"name":"partner_subtype","in":"query","description":"KCP 퀵페이 등록 시 사용한 파트너 서브타입.","required":true,"type":"string","default":"99IX","maxLength":80}],"responses":{"200":{"description":"정상 삭제","schema":{"$ref":"#/definitions/KcpQuickMemberResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"유효하지 않은 member_id"}}}},"/payments/{imp_uid}/naver/cancel":{"post":{"tags":["naver"],"summary":"(주문형-네이버페이) 네이버페이 주문환불","description":"(주문형-네이버페이) 네이버페이 상품주문들을 환불처리합니다. 주문상품의 종류가 여러 개인 경우, 한 건의 아임포트 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 환불처리할 수 있습니다.<br><br>product_order_id 가 생략될 경우, imp_uid에 해당되는 모든 네이버페이 상품주문들을 환불처리합니다.<br>환불사유코드는 다음 중 택일이며, 지정하지 않거나 올바르지 않은 값이 전달되면 기본값인 PRODUCT_UNSATISFIED(서비스 및 상품 불만족)을 적용합니다.<h4>reason (환불사유코드)</h4><ul> <li>SOLD_OUT : 상품 품절</li><li>DELAYED_DELIVERY : 배송 지연</li><li>PRODUCT_UNSATISFIED : 서비스 및 상품 불만족</li><li>INTENT_CHANGED : 구매 의사 취소</li><li>COLOR_AND_SIZE : 색상 및 사이즈 변경</li><li>WRONG_ORDER : 다른 상품 잘못 주문</li><li>INCORRECT_INFO : 상품 정보 상이</li> </ul><h4>성공응답</h4><p>여러 건의 상품주문이 환불되는 경우, 일부 주문건만 환불처리에 성공할 수 있습니다.<br> 시도된 상품주문 중 <b>환불처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.<br>(NaverProductOrderAnnotation 참조 : 응답 data속성은 GET /payments/{imp_uid}/naver/product-orders 의 data 속성과 동일한 구조를 가집니다.)</p><ul> <li>200 : 시도된 모든 상품주문 환불처리 성공</li><li>207 : 일부 상품주문 환불처리 성공 & 일부 상품주문 환불처리 실패</li> <li>500 : 시도된 모든 상품주문 환불처리 실패</li> </ul>","operationId":"naverCancelProductOrder","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 환불할 거래건의 아임포트 고유번호","required":true,"type":"string"},{"name":"product_order_id","in":"formData","description":"네이버페이 환불할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 환불합니다.","required":false,"type":"array","items":"string"},{"name":"reason","in":"formData","description":"취소 사유 코드. 올바르지 않은 코드인 경우 기본값(PRODUCT_UNSATISFIED)을 적용합니다.","required":false,"type":"string","default":"PRODUCT_UNSATISFIED","enum":["SOLD_OUT","DELAYED_DELIVERY","PRODUCT_UNSATISFIED","INTENT_CHANGED","COLOR_AND_SIZE","WRONG_ORDER","INCORRECT_INFO"]}],"responses":{"200":{"description":"주문환불성공","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"207":{"description":"일부주문 환불성공 & 일부주문 환불실패<br>아임포트에서 네이버페이에 환불요청시 product_order_id 개별로 환불요청이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"},"500":{"description":"모든주문 환불실패"}}}},"/payments/{imp_uid}/naver/approve-cancel":{"post":{"tags":["naver"],"summary":"(주문형-네이버페이) 네이버페이 구매자의 환불요청에 대한 승인","description":"(주문형-네이버페이) 네이버페이 구매자가 환불요청한 상품주문들을 환불승인처리합니다. 상품발주처리 중 구매자의 환불요청이 있는 경우, 최종 환불처리를 위해서는 판매자의 승인이 필요하므로 본 API 를 사용하셔야 합니다.<br>\n주문상품의 종류가 여러 개인 경우, 한 건의 아임포트 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 환불승인처리할 수 있습니다.<br><br>product_order_id 가 생략될 경우, imp_uid에 해당되는 모든 네이버페이 상품주문들을 환불승인처리합니다.<br>\n<h4>성공응답</h4>\n<p>여러 건의 상품주문이 환불승인요청되는 경우, 일부 주문건만 환불승인처리에 성공할 수 있습니다.<br> 시도된 상품주문 중 <b>환불승인처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.<br>\n(NaverProductOrderAnnotation 참조 : 응답 data속성은 GET /payments/{imp_uid}/naver/product-orders 의 data 속성과 동일한 구조를 가집니다.)</p>\n<ul>\n    <li>200 : 시도된 모든 상품주문 환불승인처리 성공</li>\n    <li>207 : 일부 상품주문 환불승인처리 성공 & 일부 상품주문 환불승인처리 실패</li>\n    <li>500 : 시도된 모든 상품주문 환불승인처리 실패</li>\n</ul>","operationId":"naverApproveCancelProductOrder","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 환불승인할 거래건의 아임포트 고유번호","required":true,"type":"string"},{"name":"product_order_id","in":"formData","description":"네이버페이 환불승인할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 환불승인합니다.","required":false,"type":"array","items":"string"}],"responses":{"200":{"description":"주문환불승인성공","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"207":{"description":"일부주문 환불승인성공 & 일부주문 환불승인실패<br>아임포트에서 네이버페이에 환불승인요청시 product_order_id 개별로 환불승인요청이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"},"500":{"description":"모든주문 환불승인실패"}}}},"/payments/{imp_uid}/naver/ship":{"post":{"tags":["naver"],"summary":"(주문형-네이버페이) 네이버페이 상품발송처리","description":"(주문형-네이버페이) 네이버페이 상품주문들을 발송처리합니다. 주문상품의 종류가 여러 개인 경우, 한 건의 아임포트 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 발송처리할 수 있습니다.<br><br>product_order_id 가 생략될 경우, imp_uid에 해당되는 모든 네이버페이 상품주문들을 발송처리합니다.<h4>delivery_method (배송방법코드)</h4><ul> <li>DELIVERY : 택배, 등기, 소포</li><li>GDFW_ISSUE_SVC : 굿스플로 송장 출력</li><li>VISIT_RECEIPT : 방문 수령</li><li>DIRECT_DELIVERY : 직접 전달</li><li>QUICK_SVC : 퀵서비스</li><li>NOTHING : 배송 없음</li> </ul> <h4>delivery_company (택배사 코드)</h4><ul><li>CJGLS : CJ 대한통운</li><li>KGB : 로젠택배</li><li>DONGBU : KG 로지스</li><li>EPOST : 우체국택배</li><li>REGISTPOST : 우편등기</li><li>HANJIN : 한진택배</li><li>HYUNDAI : 현대택배</li><li>KGBLS : KGB 택배</li><li>INNOGIS : GTX 로지스</li><li>DAESIN : 대신택배</li><li>ILYANG : 일양로지스</li><li>KDEXP : 경동택배</li><li>CHUNIL : 천일택배</li><li>CH1 : 기타 택배</li><li>HDEXP : 합동택배</li><li>CVSNET : 편의점택배</li><li>DHL : DHL</li> <li>FEDEX : FEDEX</li> <li>GSMNTON : GSMNTON</li> <li>WARPEX : WarpEx</li> <li>WIZWA : WIZWA</li> <li>EMS : EMS</li> <li>DHLDE : DHL(독일)</li> <li>ACIEXPRESS : ACI</li> <li>EZUSA : EZUSA</li> <li>PANTOS : 범한판토스</li> <li>UPS : UPS</li> <li>HLCGLOBAL : 현대택배(국제택배)</li> <li>KOREXG : CJ 대한통운(국제택배)</li> <li>TNT : TNT</li> <li>SWGEXP : 성원글로벌</li> <li>DAEWOON : 대운글로벌</li> <li>USPS : USPS</li> <li>IPARCEL : i-parcel</li> <li>KUNYOUNG : 건영택배</li> <li>HPL : 한의사랑택배</li> <li>DADREAM : 다드림</li> <li>SLX : SLX 택배</li> <li>SFEXPRESS : 순풍택배</li> <li>HONAM : 호남택배</li></ul>    <h4>성공응답</h4><p>여러 건의 상품주문이 발송처리 시도되는 경우, 일부 주문건만 발송처리에 성공할 수 있습니다.<br> 시도된 상품주문 중 <b>발송처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.<br>(NaverProductOrderAnnotation 참조 : 응답 data속성은 GET /payments/{imp_uid}/naver/product-orders 의 data 속성과 동일한 구조를 가집니다.)</p><ul> <li>200 : 시도된 모든 상품주문 발송처리 성공</li><li>207 : 일부 상품주문 발송처리 성공 & 일부 상품주문 발송처리 실패</li> <li>500 : 시도된 모든 상품주문 발송처리 실패</li> </ul>","operationId":"naverShipProductOrder","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 발송처리할 거래건의 아임포트 고유번호","required":true,"type":"string"},{"name":"product_order_id","in":"formData","description":"네이버페이 발송처리할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 발송처리합니다.","required":false,"type":"array","items":"string"},{"name":"delivery_method","in":"formData","description":"배송방법 코드","required":true,"type":"string","enum":["DELIVERY","GDFW_ISSUE_SVC","VISIT_RECEIPT","DIRECT_DELIVERY","QUICK_SVC","NOTHING"]},{"name":"dispatched_at","in":"formData","description":"발송일 unix timestamp","required":true,"type":"integer"},{"name":"delivery_company","in":"formData","description":"택배사 코드(delivery_method == 'DELIVERY' 인 경우 필수 파라메터)","required":false,"type":"string","enum":["CJGLS","KGB","DONGBU","EPOST","REGISTPOST","HANJIN","HYUNDAI","KGBLS","INNOGIS","DAESIN","ILYANG","KDEXP","CHUNIL","CH1","HDEXP","CVSNET","DHL","FEDEX","GSMNTON","WARPEX","WIZWA","EMS","DHLDE","ACIEXPRESS","EZUSA","PANTOS","UPS","HLCGLOBAL","KOREXG","TNT","SWGEXP","DAEWOON","USPS","IPARCEL","KUNYOUNG","HPL","DADREAM","SLX","SFEXPRESS","HONAM"]},{"name":"tracking_number","in":"formData","description":"송장번호(delivery_method == 'DELIVERY' 인 경우 필수 파라메터)","required":false,"type":"string"}],"responses":{"200":{"description":"모든 상품주문 발송처리 성공","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"207":{"description":"일부 상품주문 발송처리성공 & 일부주문 발송처리실패<br>아임포트에서 네이버페이에 발송처리 요청시 product_order_id 개별로 발송요청이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"400":{"description":"delivery_method / dispatched_at 파라메터가 누락되거나 올바르지 않은 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"},"500":{"description":"모든 상품주문 발송처리실패"}}}},"/payments/{imp_uid}/naver/ship-exchanged":{"post":{"tags":["naver"],"summary":"(주문형-네이버페이) 네이버페이 교환승인된 상품 재발송처리","description":"(주문형-네이버페이) 네이버페이 교환승인된 상품주문들을 재발송처리합니다. 주문상품의 종류가 여러 개인 경우, 한 건의 아임포트 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 재발송처리할 수 있습니다.<br><br>product_order_id 가 생략될 경우, imp_uid에 해당되는 모든 네이버페이 상품주문들을 재발송처리합니다.<h4>delivery_method (배송방법코드)</h4><ul> <li>DELIVERY : 택배, 등기, 소포</li><li>GDFW_ISSUE_SVC : 굿스플로 송장 출력</li><li>VISIT_RECEIPT : 방문 수령</li><li>DIRECT_DELIVERY : 직접 전달</li><li>QUICK_SVC : 퀵서비스</li><li>NOTHING : 배송 없음</li> </ul> <h4>delivery_company (택배사 코드)</h4><ul><li>CJGLS : CJ 대한통운</li><li>KGB : 로젠택배</li><li>DONGBU : KG 로지스</li><li>EPOST : 우체국택배</li><li>REGISTPOST : 우편등기</li><li>HANJIN : 한진택배</li><li>HYUNDAI : 현대택배</li><li>KGBLS : KGB 택배</li><li>INNOGIS : GTX 로지스</li><li>DAESIN : 대신택배</li><li>ILYANG : 일양로지스</li><li>KDEXP : 경동택배</li><li>CHUNIL : 천일택배</li><li>CH1 : 기타 택배</li><li>HDEXP : 합동택배</li><li>CVSNET : 편의점택배</li> <li>DHL : DHL</li> <li>FEDEX : FEDEX</li> <li>GSMNTON : GSMNTON</li> <li>WARPEX : WarpEx</li> <li>WIZWA : WIZWA</li> <li>EMS : EMS</li> <li>DHLDE : DHL(독일)</li> <li>ACIEXPRESS : ACI</li> <li>EZUSA : EZUSA</li> <li>PANTOS : 범한판토스</li> <li>UPS : UPS</li> <li>HLCGLOBAL : 현대택배(국제택배)</li> <li>KOREXG : CJ 대한통운(국제택배)</li> <li>TNT : TNT</li> <li>SWGEXP : 성원글로벌</li> <li>DAEWOON : 대운글로벌</li> <li>USPS : USPS</li> <li>IPARCEL : i-parcel</li> <li>KUNYOUNG : 건영택배</li> <li>HPL : 한의사랑택배</li> <li>DADREAM : 다드림</li> <li>SLX : SLX 택배</li> <li>SFEXPRESS : 순풍택배</li> <li>HONAM : 호남택배</li> </ul>    <h4>성공응답</h4><p>여러 건의 상품주문이 재발송처리 시도되는 경우, 일부 주문건만 재발송처리에 성공할 수 있습니다.<br> 시도된 상품주문 중 <b>재발송처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.<br>(NaverProductOrderAnnotation 참조 : 응답 data속성은 GET /payments/{imp_uid}/naver/product-orders 의 data 속성과 동일한 구조를 가집니다.)</p><ul> <li>200 : 시도된 모든 상품주문 재발송처리 성공</li><li>207 : 일부 상품주문 재발송처리 성공 & 일부 상품주문 재발송처리 실패</li> <li>500 : 시도된 모든 상품주문 재발송처리 실패</li> </ul>","operationId":"naverShipProductOrder","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 재발송처리할 거래건의 아임포트 고유번호","required":true,"type":"string"},{"name":"product_order_id","in":"formData","description":"네이버페이 재발송처리할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 재발송처리합니다.","required":false,"type":"array","items":"string"},{"name":"delivery_method","in":"formData","description":"배송방법 코드","required":true,"type":"string","enum":["DELIVERY","GDFW_ISSUE_SVC","VISIT_RECEIPT","DIRECT_DELIVERY","QUICK_SVC","NOTHING"]},{"name":"delivery_company","in":"formData","description":"택배사 코드(delivery_method == 'DELIVERY' 인 경우 필수 파라메터)","required":false,"type":"string","enum":["CJGLS","KGB","DONGBU","EPOST","REGISTPOST","HANJIN","HYUNDAI","KGBLS","INNOGIS","DAESIN","ILYANG","KDEXP","CHUNIL","CH1","HDEXP","CVSNET","DHL","FEDEX","GSMNTON","WARPEX","WIZWA","EMS","DHLDE","ACIEXPRESS","EZUSA","PANTOS","UPS","HLCGLOBAL","KOREXG","TNT","SWGEXP","DAEWOON","USPS","IPARCEL","KUNYOUNG","HPL","DADREAM","SLX","SFEXPRESS","HONAM"]},{"name":"tracking_number","in":"formData","description":"송장번호(delivery_method == 'DELIVERY' 인 경우 필수 파라메터)","required":false,"type":"string"}],"responses":{"200":{"description":"모든 상품주문 재발송처리 성공","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"207":{"description":"일부 상품주문 재발송처리성공 & 일부주문 재발송처리실패<br>아임포트에서 네이버페이에 재발송처리 요청시 product_order_id 개별로 재발송요청이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"400":{"description":"delivery_method 파라메터가 누락되거나 올바르지 않은 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"},"500":{"description":"모든 상품주문 재발송처리실패"}}}},"/payments/{imp_uid}/naver/collect-exchanged":{"post":{"tags":["naver"],"summary":"(주문형-네이버페이) 네이버페이 교환승인된 상품 수거완료처리","description":"(주문형-네이버페이) 네이버페이 교환승인된 상품주문들을 수거완료처리합니다. 주문상품의 종류가 여러 개인 경우, 한 건의 아임포트 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 수거완료처리할 수 있습니다.<br><br>product_order_id 가 생략될 경우, imp_uid에 해당되는 모든 네이버페이 상품주문들을 수거완료처리합니다. <h4>성공응답</h4><p>여러 건의 상품주문이 수거완료처리 시도되는 경우, 일부 주문건만 수거완료처리에 성공할 수 있습니다.<br> 시도된 상품주문 중 <b>수거완료처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.<br>(NaverProductOrderAnnotation 참조 : 응답 data속성은 GET /payments/{imp_uid}/naver/product-orders 의 data 속성과 동일한 구조를 가집니다.)</p><ul> <li>200 : 시도된 모든 상품주문 수거완료처리 성공</li><li>207 : 일부 상품주문 수거완료처리 성공 & 일부 상품주문 수거완료처리 실패</li> <li>500 : 시도된 모든 상품주문 수거완료처리 실패</li> </ul>","operationId":"naverCollectProductOrder","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 수거완료처리할 거래건의 아임포트 고유번호","required":true,"type":"string"},{"name":"product_order_id","in":"formData","description":"네이버페이 수거완료처리할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 수거완료처리합니다.","required":false,"type":"array","items":"string"}],"responses":{"200":{"description":"모든 상품주문 수거완료처리 성공","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"207":{"description":"일부 상품주문 수거완료처리성공 & 일부주문 수거완료처리실패<br>아임포트에서 네이버페이에 수거완료처리 요청시 product_order_id 개별로 수거완료요청이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"400":{"description":"delivery_method 파라메터가 누락되거나 올바르지 않은 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"},"500":{"description":"모든 상품주문 수거완료처리실패"}}}},"/payments/{imp_uid}/naver/place":{"post":{"tags":["naver"],"summary":"(주문형-네이버페이) 네이버페이 상품발주처리","description":"(주문형-네이버페이) 네이버페이 상품주문들을 발주처리합니다. 주문상품의 종류가 여러 개인 경우, 한 건의 아임포트 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 발주처리할 수 있습니다.<br><br>product_order_id 가 생략될 경우, imp_uid에 해당되는 모든 네이버페이 상품주문들을 발주처리합니다. <h4>성공응답</h4><p>여러 건의 상품주문이 발주처리 시도되는 경우, 일부 주문건만 발주처리에 성공할 수 있습니다.<br> 시도된 상품주문 중 <b>발주처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.<br>(NaverProductOrderAnnotation 참조 : 응답 data속성은 GET /payments/{imp_uid}/naver/product-orders 의 data 속성과 동일한 구조를 가집니다.)</p><ul> <li>200 : 시도된 모든 상품주문 발주처리 성공</li><li>207 : 일부 상품주문 발주처리 성공 & 일부 상품주문 발주처리 실패</li> <li>500 : 시도된 모든 상품주문 발주처리 실패</li> </ul>","operationId":"naverPlaceProductOrder","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 발주처리할 거래건의 아임포트 고유번호","required":true,"type":"string"},{"name":"product_order_id","in":"formData","description":"네이버페이 발주처리할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 발주처리합니다.","required":false,"type":"array","items":"string"}],"responses":{"200":{"description":"모든 상품주문 발주처리 성공","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"207":{"description":"일부 상품주문 발주처리성공 & 일부주문 발주처리실패<br>아임포트에서 네이버페이에 발주처리 요청시 product_order_id 개별로 발주요청이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"},"500":{"description":"모든 상품주문 발주처리실패"}}}},"/payments/{imp_uid}/naver/request-return":{"post":{"tags":["naver"],"summary":"(주문형-네이버페이) 네이버페이 상품반품요청","description":"(주문형-네이버페이) 네이버페이 상품주문들을 반품요청합니다. 주문상품의 종류가 여러 개인 경우, 한 건의 아임포트 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 반품요청할 수 있습니다.<br><br>product_order_id 가 생략될 경우, imp_uid에 해당되는 모든 네이버페이 상품주문들을 반품요청합니다.\n<h4>성공응답</h4>\n<p>여러 건의 상품주문이 반품요청 시도되는 경우, 일부 주문건만 반품요청에 성공할 수 있습니다.<br> 시도된 상품주문 중 <b>반품요청에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.<br>(NaverProductOrderAnnotation 참조 : 응답 data속성은 GET /payments/{imp_uid}/naver/product-orders 의 data 속성과 동일한 구조를 가집니다.)</p>\n<ul>\n    <li>200 : 시도된 모든 상품주문 반품요청 성공</li>\n    <li>207 : 일부 상품주문 반품요청 성공 & 일부 상품주문 반품요청 실패</li>\n    <li>500 : 시도된 모든 상품주문 반품요청 실패</li>\n</ul>","operationId":"naverRequestReturnProductOrder","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 반품요청할 거래건의 아임포트 고유번호","required":true,"type":"string"},{"name":"product_order_id","in":"formData","description":"네이버페이 반품요청할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 반품요청합니다.","required":false,"type":"array","items":"string"},{"name":"reason","in":"formData","description":"반품사유코드. 올바르지 않은 사유코드인 경우 기본값(INTENT_CHANGED)을 적용합니다.\n<ul>\n    <li>INTENT_CHANGED : 구매 의사 취소</li>\n    <li>COLOR_AND_SIZE : 색상 및 사이즈 변경</li>\n    <li>WRONG_ORDER : 다른 상품 잘못 주문</li>\n    <li>PRODUCT_UNSATISFIED : 서비스 및 상품 불만족</li>\n    <li>DELAYED_DELIVERY : 배송 지연</li>\n    <li>SOLD_OUT : 상품 품절</li>\n    <li>DROPPED_DELIVERY : 배송 누락</li>\n    <li>BROKEN : 상품 파손</li>\n    <li>INCORRECT_INFO : 상품정보상이</li>\n    <li>WRONG_DELIVERY : 오배송</li>\n    <li>WRONG_OPTION : 색상 등이 다른 상품을 잘못 배송</li>\n</ul>","required":false,"type":"string","default":"INTENT_CHANGED","enum":["INTENT_CHANGED","COLOR_AND_SIZE","WRONG_ORDER","PRODUCT_UNSATISFIED","DELAYED_DELIVERY","SOLD_OUT","DROPPED_DELIVERY","BROKEN","INCORRECT_INFO","WRONG_DELIVERY","WRONG_OPTION"]},{"name":"delivery_method","in":"formData","description":"반품 배송방법 코드\n<ul>\n    <li>RETURN_DESIGNATED : 지정 반품 택배(판매자 측에서 택배접수는 미리 해준 경우)</li>\n    <li>RETURN_DELIVERY : 일반 반품 택배</li>\n    <li>RETURN_INDIVIDUAL : 직접 반송</li>\n</ul>","required":true,"type":"string","enum":["RETURN_DESIGNATED","RETURN_DELIVERY","RETURN_INDIVIDUAL"]},{"name":"delivery_company","in":"formData","description":"택배사 코드(delivery_method == 'RETURN_DELIVERY' 인 경우 필수 파라메터)\n<ul>\n    <li>CJGLS : CJ 대한통운</li>\n    <li>KGB : 로젠택배</li>\n    <li>DONGBU : KG 로지스</li>\n    <li>EPOST : 우체국택배</li>\n    <li>REGISTPOST : 우편등기</li>\n    <li>HANJIN : 한진택배</li>\n    <li>HYUNDAI : 현대택배</li>\n    <li>KGBLS : KGB 택배</li>\n    <li>INNOGIS : GTX 로지스</li>\n    <li>DAESIN : 대신택배</li>\n    <li>ILYANG : 일양로지스</li>\n    <li>KDEXP : 경동택배</li>\n    <li>CHUNIL : 천일택배</li>\n    <li>CH1 : 기타 택배</li>\n    <li>HDEXP : 합동택배</li>\n    <li>CVSNET : 편의점택배</li>\n    <li>DHL : DHL</li>\n    <li>FEDEX : FEDEX</li>\n    <li>GSMNTON : GSMNTON</li>\n    <li>WARPEX : WarpEx</li>\n    <li>WIZWA : WIZWA</li>\n    <li>EMS : EMS</li>\n    <li>DHLDE : DHL(독일)</li>\n    <li>ACIEXPRESS : ACI</li>\n    <li>EZUSA : EZUSA</li>\n    <li>PANTOS : 범한판토스</li>\n    <li>UPS : UPS</li>\n    <li>HLCGLOBAL : 현대택배(국제택배)</li>\n    <li>KOREXG : CJ 대한통운(국제택배)</li>\n    <li>TNT : TNT</li>\n    <li>SWGEXP : 성원글로벌</li>\n    <li>DAEWOON : 대운글로벌</li>\n    <li>USPS : USPS</li>\n    <li>IPARCEL : i-parcel</li>\n    <li>KUNYOUNG : 건영택배</li>\n    <li>HPL : 한의사랑택배</li>\n    <li>DADREAM : 다드림</li>\n    <li>SLX : SLX 택배</li>\n    <li>SFEXPRESS : 순풍택배</li>\n    <li>HONAM : 호남택배</li>\n</ul>","required":false,"type":"string","enum":["CJGLS","KGB","DONGBU","EPOST","REGISTPOST","HANJIN","HYUNDAI","KGBLS","INNOGIS","DAESIN","ILYANG","KDEXP","CHUNIL","CH1","HDEXP","CVSNET","DHL","FEDEX","GSMNTON","WARPEX","WIZWA","EMS","DHLDE","ACIEXPRESS","EZUSA","PANTOS","UPS","HLCGLOBAL","KOREXG","TNT","SWGEXP","DAEWOON","USPS","IPARCEL","KUNYOUNG","HPL","DADREAM","SLX","SFEXPRESS","HONAM"]},{"name":"tracking_number","in":"formData","description":"송장번호(delivery_method == 'RETURN_DELIVERY' 인 경우 필수 파라메터)","required":false,"type":"string"}],"responses":{"200":{"description":"모든 상품주문 반품요청 성공","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"207":{"description":"일부 상품주문 반품요청성공 & 일부주문 반품요청실패<br>아임포트에서 네이버페이에 반품요청시 product_order_id 개별로 반품요청이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"},"500":{"description":"모든 상품주문 반품요청실패"}}}},"/payments/{imp_uid}/naver/approve-return":{"post":{"tags":["naver"],"summary":"(주문형-네이버페이) 네이버페이 상품 반품승인 처리","description":"(주문형-네이버페이) 네이버페이 상품주문들을 반품승인처리합니다. 주문상품의 종류가 여러 개인 경우, 한 건의 아임포트 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 반품승인 처리할 수 있습니다.<br><br>product_order_id 가 생략될 경우, imp_uid에 해당되는 모든 네이버페이 상품주문들을 반품승인 처리합니다.<br><br> 반품시 배송비 제외, 혹은 추가 청구액이 필요한 경우 반품보류 처리(<a target='_blank' href='/#!/naver/naverWithholdReturnProductOrder'>/payments{imp_uid}/naver/withhold-return</a>) 사용  <h4>성공응답</h4><p>여러 건의 상품주문이 반품승인 처리 시도되는 경우, 일부 주문건만 반품승인 처리에 성공할 수 있습니다.<br> 시도된 상품주문 중 <b>반품승인 처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.<br>(NaverProductOrderAnnotation 참조 : 응답 data속성은 GET /payments/{imp_uid}/naver/product-orders 의 data 속성과 동일한 구조를 가집니다.)</p><ul> <li>200 : 시도된 모든 상품주문 반품승인 처리 성공</li><li>207 : 일부 상품주문 반품승인 처리 성공 & 일부 상품주문 반품승인 처리 실패</li> <li>500 : 시도된 모든 상품주문 반품승인 처리 실패</li> </ul>","operationId":"naverApproveReturnProductOrder","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 반품승인 처리할 거래건의 아임포트 고유번호","required":true,"type":"string"},{"name":"product_order_id","in":"formData","description":"네이버페이 반품승인 처리할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 반품승인 처리합니다.","required":false,"type":"array","items":"string"},{"name":"memo","in":"formData","description":"반품승인 후 구매자에게 전달하는 메모","required":false,"type":"string"}],"responses":{"200":{"description":"모든 상품주문 반품승인 처리 성공","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"207":{"description":"일부 상품주문 반품승인 처리성공 & 일부주문 반품승인 처리실패<br>아임포트에서 네이버페이에 반품승인 처리시 product_order_id 개별로 반품승인 처리이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"},"500":{"description":"모든 상품주문 반품승인 처리실패"}}}},"/payments/{imp_uid}/naver/reject-return":{"post":{"tags":["naver"],"summary":"(주문형-네이버페이) 네이버페이 반품요청상품 반품거절 처리","description":"(주문형-네이버페이) 네이버페이 반품요청 상품주문들을 반품거절처리합니다. 주문상품의 종류가 여러 개인 경우, 한 건의 아임포트 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 반품거절 처리할 수 있습니다.<br><br>product_order_id 가 생략될 경우, imp_uid에 해당되는 모든 네이버페이 상품주문들을 반품거절 처리합니다. <h4>성공응답</h4><p>여러 건의 상품주문이 반품거절 처리 시도되는 경우, 일부 주문건만 반품거절 처리에 성공할 수 있습니다.<br> 시도된 상품주문 중 <b>반품거절 처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.<br>(NaverProductOrderAnnotation 참조 : 응답 data속성은 GET /payments/{imp_uid}/naver/product-orders 의 data 속성과 동일한 구조를 가집니다.)</p><ul> <li>200 : 시도된 모든 상품주문 반품거절 처리 성공</li><li>207 : 일부 상품주문 반품거절 처리 성공 & 일부 상품주문 반품거절 처리 실패</li> <li>500 : 시도된 모든 상품주문 반품거절 처리 실패</li> </ul>","operationId":"naverRejectReturnProductOrder","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 반품거절 처리할 거래건의 아임포트 고유번호","required":true,"type":"string"},{"name":"product_order_id","in":"formData","description":"네이버페이 반품거절 처리할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 반품거절 처리합니다.","required":false,"type":"array","items":"string"},{"name":"memo","in":"formData","description":"반품거절 후 구매자에게 전달하는 메모","required":true,"type":"string"}],"responses":{"200":{"description":"모든 상품주문 반품거절 처리 성공","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"207":{"description":"일부 상품주문 반품거절 처리성공 & 일부주문 반품거절 처리실패<br>아임포트에서 네이버페이에 반품거절 처리시 product_order_id 개별로 반품거절 처리이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"},"500":{"description":"모든 상품주문 반품거절 처리실패"}}}},"/payments/{imp_uid}/naver/withhold-return":{"post":{"tags":["naver"],"summary":"(주문형-네이버페이) 네이버페이 반품요청상품 반품보류 처리","description":"(주문형-네이버페이) 네이버페이 반품요청 상품주문들을 반품보류처리합니다. 주문상품의 종류가 여러 개인 경우, 한 건의 아임포트 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 반품보류 처리할 수 있습니다.<br><br>product_order_id 가 생략될 경우, imp_uid에 해당되는 모든 네이버페이 상품주문들을 반품보류 처리합니다. <h4>성공응답</h4><p>여러 건의 상품주문이 반품보류 처리 시도되는 경우, 일부 주문건만 반품보류 처리에 성공할 수 있습니다.<br> 시도된 상품주문 중 <b>반품보류 처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.<br>(NaverProductOrderAnnotation 참조 : 응답 data속성은 GET /payments/{imp_uid}/naver/product-orders 의 data 속성과 동일한 구조를 가집니다.)</p><ul> <li>200 : 시도된 모든 상품주문 반품보류 처리 성공</li><li>207 : 일부 상품주문 반품보류 처리 성공 & 일부 상품주문 반품보류 처리 실패</li> <li>500 : 시도된 모든 상품주문 반품보류 처리 실패</li> </ul>","operationId":"naverWithholdReturnProductOrder","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 반품보류 처리할 거래건의 아임포트 고유번호","required":true,"type":"string"},{"name":"product_order_id","in":"formData","description":"네이버페이 반품보류 처리할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 반품보류 처리합니다.","required":false,"type":"array","items":"string"},{"name":"reason","in":"formData","description":"반품보류사유 코드. 올바르지 않은 보류사유코드인 경우 기본값(ETC)를 적용합니다.\n<ul>\n    <li>RETURN_DELIVERYFEE : 반품 배송비 청구</li>\n    <li>EXTRAFEEE : 기타 반품 비용 청구</li>\n    <li>RETURN_DELIVERYFEE_AND_EXTRAFEEE : 반품 배송비 및 기타 반품 비용 청구</li>\n    <li>RETURN_PRODUCT_NOT_DELIVERED : 반품 상품 미입고</li>\n    <li>ETC : 기타 사유</li>\n</ul>","required":false,"type":"string","default":"ETC","enum":["RETURN_DELIVERYFEE","EXTRAFEEE","RETURN_DELIVERYFEE_AND_EXTRAFEEE","RETURN_PRODUCT_NOT_DELIVERED","ETC"]},{"name":"memo","in":"formData","description":"반품보류에 대하여 구매자에게 전달하는 메모","required":true,"type":"string"},{"name":"extra_charge","in":"formData","description":"기타 비용 청구액(기본값 : 0원)","required":false,"type":"integer"}],"responses":{"200":{"description":"모든 상품주문 반품보류 처리 성공","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"207":{"description":"일부 상품주문 반품보류 처리성공 & 일부주문 반품보류 처리실패<br>아임포트에서 네이버페이에 반품보류 처리시 product_order_id 개별로 반품보류 처리이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"},"500":{"description":"모든 상품주문 반품보류 처리실패"}}}},"/payments/{imp_uid}/naver/resolve-return":{"post":{"tags":["naver"],"summary":"(주문형-네이버페이) 네이버페이 반품보류상품 반품보류해제 처리","description":"(주문형-네이버페이) 네이버페이 반품보류 상품주문들을 반품보류해제처리합니다. 주문상품의 종류가 여러 개인 경우, 한 건의 아임포트 거래건(imp_uid)에 여러 개의 네이버페이 상품주문이 존재하며 일부 또는 전체를 반품보류해제 처리할 수 있습니다.<br><br>product_order_id 가 생략될 경우, imp_uid에 해당되는 모든 네이버페이 상품주문들을 반품보류해제 처리합니다. <h4>성공응답</h4><p>여러 건의 상품주문이 반품보류해제 처리 시도되는 경우, 일부 주문건만 반품보류해제 처리에 성공할 수 있습니다.<br> 시도된 상품주문 중 <b>반품보류해제 처리에 성공한 상품주문</b>에 대한 최종 정보만 제공됩니다.<br>(NaverProductOrderAnnotation 참조 : 응답 data속성은 GET /payments/{imp_uid}/naver/product-orders 의 data 속성과 동일한 구조를 가집니다.)</p><ul> <li>200 : 시도된 모든 상품주문 반품보류해제 처리 성공</li><li>207 : 일부 상품주문 반품보류해제 처리 성공 & 일부 상품주문 반품보류해제 처리 실패</li> <li>500 : 시도된 모든 상품주문 반품보류해제 처리 실패</li> </ul>","operationId":"naverResolveReturnProductOrder","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 반품보류해제 처리할 거래건의 아임포트 고유번호","required":true,"type":"string"},{"name":"product_order_id","in":"formData","description":"네이버페이 반품보류해제 처리할 거래건의 네이버페이 상품주문번호. 생략되면 imp_uid 에 해당되는 모든 상품주문을 반품보류해제 처리합니다.","required":false,"type":"array","items":"string"}],"responses":{"200":{"description":"모든 상품주문 반품보류해제 처리 성공","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"207":{"description":"일부 상품주문 반품보류해제 처리성공 & 일부주문 반품보류해제 처리실패<br>아임포트에서 네이버페이에 반품보류해제 처리시 product_order_id 개별로 반품보류해제 처리이 진행되어야 합니다. 일부 건만 성공하는 경우 207 응답이 내려갑니다. (모두 성공인 경우 200응답 / 모두 실패인 경우 500응답)","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"},"500":{"description":"모든 상품주문 반품보류해제 처리실패"}}}},"/payments/{imp_uid}/naver/point":{"post":{"tags":["naver"],"summary":"(결제형-네이버페이) 네이버페이 포인트 적립","description":"(결제형-네이버페이) 네이버페이 포인트 적립 API","operationId":"naverDepositPoint","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 포인트 적립할 거래건의 아임포트 고유번호","required":true,"type":"string"}],"responses":{"200":{"description":"네이버페이 포인트 적립 성공","schema":{"$ref":"#/definitions/ResponseAnnotation"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"},"500":{"description":"네이버페이 포인트 적립 실패. 응답 BODY의 message 확인 필요"}}}},"/payments/{imp_uid}/naver/confirm":{"post":{"tags":["naver"],"summary":"(결제형-네이버페이) 네이버페이 에스크로 주문 확정","description":"(결제형-네이버페이) 네이버페이 에스크로 주문 확정","operationId":"naverConfirmPayment","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 구매확정할 거래건의 아임포트 고유번호","required":true,"type":"string"},{"name":"requester","in":"formData","description":"구매확정 요청자 (admin : 가맹점 관리자 (기본값), customer : 구매자)","required":false,"type":"string"}],"responses":{"200":{"description":"네이버페이 구매확정 성공","schema":{"$ref":"#/definitions/ResponseAnnotation"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"},"500":{"description":"네이버페이 구매확정 실패. 응답 BODY의 message 확인 필요"}}}},"/payments/{imp_uid}/naver/product-orders":{"get":{"tags":["naver"],"summary":"(주문형-네이버페이) 아임포트 거래번호 기준 네이버페이 상품주문 조회","description":"(주문형-네이버페이) 아임포트 거래번호 기준으로 네이버페이 상품주문 목록을 조회합니다. (배열 반환)<br><br>네이버페이의 경우 주문하는 상품의 종류별로 주문번호(product_order_id)를 관리합니다. 아임포트 거래건 당 1개 이상의 네이버페이 상품주문이 연결되므로, 아임포트 거래고유번호(imp_uid)에 매핑된 1개 이상의 네이버페이 상품주문번호(product_order_id) 및 상세 내역을 조회할 수 있습니다.<br><br>\n<h4>product_order_status</h4>\n<ul>\n    <li>PAYMENT_WAITING : 입금 대기</li>\n    <li>PAYED : 결제 완료</li>\n    <li>DELIVERING : 배송 중</li>\n    <li>DELIVERED : 배송 완료</li>\n    <li>PURCHASE_DECIDED : 구매 확정</li>\n    <li>EXCHANGED : 교환 완료</li>\n    <li>CANCELED : 취소 완료</li>\n    <li>RETURNED : 반품 완료</li>\n    <li>CANCELED_BY_NOPAYMENT : 미입금 취소</li>\n</ul>\n<h4>claim_type</h4>\n<ul>\n    <li>CANCEL : 취소</li>\n    <li>RETURN : 반품</li>\n    <li>EXCHANGE : 교환</li>\n    <li>PURCHASE_DECISION_HOLDBACK : 구매 확정 보류</li>\n    <li>ADMIN_CANCEL : 직권 취소</li>\n</ul>\n<h4>claim_status</h4>\n<h4>[ claim_type : CANCEL 일 때 ]</h4>\n<ul>\n    <li>CANCEL_REQUEST : 취소 요청</li>\n    <li>CANCELING : 취소 처리 중</li>\n    <li>CANCEL_DONE : 취소 처리 완료</li>\n    <li>CANCEL_REJECT : 취소 철회</li>\n</ul>\n<h4>[ claim_type : RETURN 일 때 ]</h4>\n<ul>\n    <li>RETURN_REQUEST : 반품 요청</li>\n    <li>COLLECTING : 수거 처리 중</li>\n    <li>COLLECT_DONE : 수거 완료</li>\n    <li>RETURN_DONE : 반품 완료</li>\n    <li>RETURN_REJECT : 반품 철회</li>\n</ul>\n<h4>[ claim_type : EXCHANGE 일 때 ]</h4>\n<ul>\n    <li>EXCHANGE_REQUEST : 교환 요청</li>\n    <li>COLLECTING : 수거 처리 중</li>\n    <li>COLLECT_DONE : 수거 완료(교환)</li>\n    <li>EXCHANGE_REDELIVERING : 교환 재배송 중</li>\n    <li>EXCHANGE_DONE : 교환 완료</li>\n    <li>EXCHANGE_REJECT : 교환 거부</li>\n</ul>\n<h4>[ claim_type : PURCHASE_DECISION_HOLDBACK 일 때 ]</h4>\n<ul>\n    <li>PURCHASE_DECISION_HOLDBACK : 구매 확정 보류</li>\n    <li>PURCHASE_DECISION_HOLDBACK_REDELIVERING : 구매 확정 보류 재배송 중</li>\n    <li>PURCHASE_DECISION_REQUEST : 구매 확정 요청</li>\n    <li>PURCHASE_DECISION_HOLDBACK_RELEASE : 구매 확정 보류 해제</li>\n</ul>\n<h4>[ claim_type : ADMIN_CANCEL 일 때 ]</h4>\n<ul>\n    <li>ADMIN_CANCELING : 직권 취소 중</li>\n    <li>ADMIN_CANCEL_DONE : 직권 취소 완료</li>\n</ul>","operationId":"getProductOrders","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 상품주문 조회를 위한 아임포트 거래 고유번호","required":true,"type":"string"}],"responses":{"200":{"description":"네이버페이 상품주문 조회 성공","schema":{"$ref":"#/definitions/NaverProductOrderArrayResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"imp_uid에 해당되는 거래건을 찾을 수 없거나 접근 권한이 없는 계정인 경우"}}}},"/naver/product-orders/{product_order_id}":{"get":{"tags":["naver"],"summary":"(주문형-네이버페이) 네이버페이 상품주문번호로 상품주문 상세 조회","description":"(주문형-네이버페이) 네이버페이 상품주문번호 기준 네이버페이 상품주문을 조회합니다. (단건 반환)<br><br>네이버페이 상품주문번호(product_order_id)를 통해 해당되는 상품주문정보 단건을 조회할 수 있습니다.<br><h4>product_order_status</h4><ul> <li>PAYMENT_WAITING : 입금 대기</li><li>PAYED : 결제 완료</li><li>DELIVERING : 배송 중</li><li>DELIVERED : 배송 완료</li><li>PURCHASE_DECIDED : 구매 확정</li><li>EXCHANGED : 교환 완료</li><li>CANCELED : 취소 완료</li><li>RETURNED : 반품 완료</li><li>CANCELED_BY_NOPAYMENT : 미입금 취소</li> </ul>  <h4>claim_type</h4><ul><li>CANCEL : 취소</li><li>RETURN : 반품</li><li>EXCHANGE : 교환</li>\n     * <li>PURCHASE_DECISION_HOLDBACK : 구매 확정 보류</li>\n     * <li>ADMIN_CANCEL : 직권 취소</li></ul> <h4>claim_status</h4><h4>[ claim_type : CANCEL 일 때 ]</h4><ul><li>CANCEL_REQUEST : 취소 요청</li><li>CANCELING : 취소 처리 중</li><li>CANCEL_DONE : 취소 처리 완료</li><li>CANCEL_REJECT : 취소 철회</li></ul> <h4>[ claim_type : RETURN 일 때 ]</h4> <ul><li>RETURN_REQUEST : 반품 요청</li><li>COLLECTING : 수거 처리 중</li><li>COLLECT_DONE : 수거 완료</li><li>RETURN_DONE : 반품 완료</li><li>RETURN_REJECT : 반품 철회</li></ul> <h4>[ claim_type : EXCHANGE 일 때 ]</h4> <ul><li>EXCHANGE_REQUEST : 교환 요청</li><li>COLLECTING : 수거 처리 중</li><li>COLLECT_DONE : 수거 완료(교환)</li><li>EXCHANGE_REDELIVERING : 교환 재배송 중</li><li>EXCHANGE_DONE : 교환 완료</li><li>EXCHANGE_REJECT : 교환 거부</li></ul> <h4>[ claim_type : PURCHASE_DECISION_HOLDBACK 일 때 ]</h4> <ul><li>PURCHASE_DECISION_HOLDBACK : 구매 확정 보류</li><li>PURCHASE_DECISION_HOLDBACK_REDELIVERING : 구매 확정 보류 재배송 중</li><li>PURCHASE_DECISION_REQUEST : 구매 확정 요청</li><li>PURCHASE_DECISION_HOLDBACK_RELEASE : 구매 확정 보류 해제</li></ul> <h4>[ claim_type : ADMIN_CANCEL 일 때 ]</h4> <ul><li>ADMIN_CANCELING : 직권 취소 중</li><li>ADMIN_CANCEL_DONE : 직권 취소 완료</li></ul>","operationId":"getProductOrderSingle","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"product_order_id","in":"path","description":"네이버페이 상품주문번호","required":true,"type":"string"}],"responses":{"200":{"description":"네이버페이 상품주문 조회 성공","schema":{"$ref":"#/definitions/NaverProductOrderResponse"}},"400":{"description":"요청 파라메터에 product_order_id 가 누락된 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"product_order_id에 해당되는 네이버 상품주문을 찾을 수 없거나 접근 권한이 없는 계정인 경우"}}}},"/naver/reviews":{"get":{"tags":["naver"],"summary":"(주문형-네이버페이) 네이버페이 구매평 조회","description":"(주문형-네이버페이) 네이버페이 구매평 조회 API","operationId":"getReviews","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"from","in":"query","description":"조회기간 시작 unix timestamp","required":true,"type":"integer"},{"name":"to","in":"query","description":"조회기간 종료 unix timestamp","required":true,"type":"integer"},{"name":"review_type","in":"query","description":"구매평 유형. 일반구매평(general), 프리미엄 구매평(premium)","required":true,"type":"string","enum":["general","premium"]}],"responses":{"200":{"description":"네이버페이 상품주문 조회 성공","schema":{"$ref":"#/definitions/NaverReviewsResponse"}},"400":{"description":"요청 파라메터에 from, to, review_type 가 누락되거나 올바르지 않은 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"500":{"description":"네이버페이 구매평 조회시 네이버응답이 올바르지 않은 경우"}}}},"/payments/{imp_uid}/naver/cash-amount":{"get":{"tags":["naver"],"summary":"(결제형-네이버페이) 네이버페이 현금영수증 발급가능 금액 조회 API","description":"(결제형-네이버페이) 네이버페이 현금영수증 발급가능 금액 조회 API","operationId":"queryCashAmount","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"네이버페이 현금영수증 발급가능 금액 조회를 위한 아임포트 거래 고유번호","required":true,"type":"string"}],"responses":{"200":{"description":"네이버페이 현금영수증 발급가능 금액 조회 성공","schema":{"$ref":"#/definitions/NaverCashAmountResponse"}},"400":{"description":"네이버페이 결제형 거래가 아닌 건에 대해 요청하는 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"500":{"description":"네이버페이 현금영수증 발급가능 금액 조회시 네이버응답이 올바르지 않은 경우"}}}},"/payco/orders/status/{imp_uid}":{"post":{"tags":["payco"],"summary":"페이코 주문상품의 상태를 변경합니다.","description":"DELIVERY_START (배송시작-출고지시) <br>PURCHASE_DECISION (구매확정) <br>CANCELED (취소)","operationId":"changeOrderStatus","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"아임포트 고유번호","required":true,"type":"string"},{"name":"status","in":"formData","description":"주문상품 변경될 상태","required":true,"type":"string","enum":["DELIVERY_START","PURCHASE_DECISION","CANCELED"]}],"responses":{"200":{"description":"주문상품 상태 변경 완료","schema":{"$ref":"#/definitions/PaycoStatusResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"}}}},"/payments/{imp_uid}/balance":{"get":{"tags":["payments"],"summary":"결제수단별 금액 상세 정보 확인","description":"아임포트 고유번호로 결제수단별 금액 상세정보를 확인합니다.(현재, PAYCO결제수단에 한해 제공되고 있습니다. 타 PG사의 경우 파라메터 검증 등 검토/협의 단계에 있습니다.)<br><br>amount : 최초 결제승인된 금액의 총합<br>cash_receipt : 현금영수증 발급된 금액 상세<br>primary : 1차 결제수단(신용카드, 계좌이체, 가상계좌, 휴대폰소액결제) 금액 상세<br>secondary : 2차 결제수단(구매자가 보유한 PG사포인트, 카드사포인트) 금액 상세<br>discount : PG사/카드사 자체 할인 금액 상세","operationId":"balanceByImpUid","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"아임포트 고유번호","required":true,"type":"string","default":"imp_448280090638"}],"responses":{"200":{"description":"정상 조회","schema":{"$ref":"#/definitions/PaymentBalanceResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"유효하지 않은 imp_uid"},"405":{"description":"허용되지 않는 HTTP METHOD"}}}},"/payments/{imp_uid}":{"get":{"tags":["payments"],"summary":"아임포트 고유번호로 결제내역을 확인합니다","description":"아임포트 고유번호로 결제내역을 확인합니다","operationId":"getPaymentByImpUid","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"아임포트 고유번호","required":true,"type":"string","default":"imp_448280090638"}],"responses":{"200":{"description":"정상 조회","schema":{"$ref":"#/definitions/PaymentResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"유효하지 않은 imp_uid"}}}},"/payments":{"get":{"tags":["payments"],"summary":"여러 개의 아임포트 고유번호 또는 가맹점 주문번호로 결제내역을 한 번에 조회합니다","description":"여러 개의 아임포트 고유번호 또는 가맹점 주문번호로 결제내역을 한 번에 조회합니다.(최대 100개)<br>(예시) /payments?imp_uid[]=imp_448280090638&imp_uid[]=imp_448280090639&merchant_uid[]=merchant_143434085216","operationId":"getPaymentListByImpUid","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid[]","in":"query","description":"아임포트 고유번호","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","default":"imp_448280090638"},{"name":"merchant_uid[]","in":"query","description":"결제요청 시 가맹점에서 요청한 merchant_uid","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","default":"merchant_143434085216"}],"responses":{"200":{"description":"요청된 모든 imp_uid 에 대한 결제정보 응답완료","schema":{"$ref":"#/definitions/MultiplePaymentsResponse"}},"207":{"description":"요청된 imp_uid 중 일부 거래 조회 실패(ex. 접근권한없음 또는 존재하지 않는 imp_uid)","schema":{"$ref":"#/definitions/MultiplePaymentsResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"해당되는 결제건을 찾지 못하였습니다."}}}},"/payments/find/{merchant_uid}/{payment_status}":{"get":{"tags":["payments"],"summary":"가맹점지정 고유번호로 결제내역을 확인합니다","description":"동일한 merchant_uid가 여러 건 존재하는 경우, 정렬 기준에 따라 가장 첫 번째 해당되는 건을 반환합니다. (모든 내역에 대한 조회가 필요하시면 /payments/findAll/{merchant_uid}를 사용해주세요.)<br><br>payment_status를 추가로 지정하시면, 해당 status에 해당하는 가장 최신 데이터를 반환합니다.<br> <h4>정렬기준</h4> 마이너스(-) 기호가 앞에 붙으면 내림차순 정렬을 의미합니다. <ul><li>-started : 결제시작시각(결제창오픈시각) 기준 내림차순(DESC) 정렬</li><li>started : 결제시작시각(결제창오픈시각) 기준 오름차순(ASC) 정렬</li><li>-paid : 결제완료시각 기준 내림차순(DESC) 정렬</li><li>paid : 결제완료시각 기준 오름차순(ASC) 정렬</li><li>-updated : 최종수정시각(결제건 상태변화마다 수정시각 변경됨) 기준 내림차순(DESC) 정렬</li><li>updated : 최종수정시각(결제건 상태변화마다 수정시각 변경됨) 기준 오름차순(ASC) 정렬</li></ul>","operationId":"getPaymentByMerchantUid","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"merchant_uid","in":"path","description":"결제요청 시 가맹점에서 요청한 merchant_uid","required":true,"type":"string","default":"merchant_1448280088556"},{"name":"payment_status","in":"path","description":"특정 status상태의 값만 필터링하고 싶은 경우에 사용.<br>지정하지 않으면 모든 상태를 대상으로 조회합니다. <br>ready(미결제)<br>paid(결제완료)<br>failed(결제실패)<br>cancelled(환불취소)","required":false,"type":"string","default":""},{"name":"sorting","in":"query","description":"정렬기준. 기본값은 -started","required":false,"type":"string","default":"-started","enum":["-started","started","-paid","paid","-updated","updated"]}],"responses":{"200":{"description":"정상 조회","schema":{"$ref":"#/definitions/PaymentResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"거래건이 존재하지 않는 경우"}}}},"/payments/findAll/{merchant_uid}/{payment_status}":{"get":{"tags":["payments"],"summary":"가맹점지정 고유번호로 결제내역을 확인합니다","description":"동일한 merchant_uid가 여러 건 존재하는 경우, 정렬 기준에 따라 가장 첫 번째 해당되는 건을 반환합니다. (모든 내역에 대한 조회가 필요하시면 /payments/findAll/{merchant_uid}를 사용해주세요.)<br><br>payment_status를 추가로 지정하시면, 해당 status에 해당하는 가장 최신 데이터를 반환합니다.<br> <h4>정렬기준</h4> 마이너스(-) 기호가 앞에 붙으면 내림차순 정렬을 의미합니다. <ul><li>-started : 결제시작시각(결제창오픈시각) 기준 내림차순(DESC) 정렬</li><li>started : 결제시작시각(결제창오픈시각) 기준 오름차순(ASC) 정렬</li><li>-paid : 결제완료시각 기준 내림차순(DESC) 정렬</li><li>paid : 결제완료시각 기준 오름차순(ASC) 정렬</li><li>-updated : 최종수정시각(결제건 상태변화마다 수정시각 변경됨) 기준 내림차순(DESC) 정렬</li><li>updated : 최종수정시각(결제건 상태변화마다 수정시각 변경됨) 기준 오름차순(ASC) 정렬</li></ul>","operationId":"getAllPaymentsByMerchantUid","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"merchant_uid","in":"path","description":"결제요청 시 가맹점에서 요청한 merchant_uid","required":true,"type":"string","default":"merchant_1448280088556"},{"name":"payment_status","in":"path","description":"특정 status상태의 값만 필터링하고 싶은 경우에 사용.<br>지정하지 않으면 모든 상태를 조회합니다. <br>ready(미결제)<br>paid(결제완료)<br>failed(결제실패)<br>cancelled(환불취소)","required":false,"type":"string","default":""},{"name":"page","in":"query","description":"1부터 시작. 기본값 1","required":false,"type":"integer"},{"name":"limit","in":"query","description":"한 번에 조회할 결제건수.(최대 1000건, 기본값 20건)","required":false,"type":"integer","default":"20","maximum":"1000","minimum":"1"},{"name":"sorting","in":"query","description":"정렬기준. 기본값은 -started","required":false,"type":"string","default":"-started","enum":["-started","started","-paid","paid","-updated","updated"]}],"responses":{"200":{"description":"정상 조회","schema":{"$ref":"#/definitions/PaymentListResponse"}},"400":{"description":"merchant_uid누락, 올바르지 않은 status 등 파라메터가 잘못된 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"유효하지 않은 merchant_uid"}}}},"/payments/status/{payment_status}":{"get":{"tags":["payments"],"summary":"미결제/결제완료/결제취소/결제실패 상태 별로 검색(20건씩 최신순 페이징)","description":"미결제/결제완료/결제취소/결제실패 상태 별로 검색할 수 있습니다.(20건씩 최신순 페이징)<br><br>검색기간은 최대 90일까지이며 to파라메터의 기본값은 현재 unix timestamp이고 from파라메터의 기본값은 to파라메터 기준으로 90일 전입니다. 때문에, from/to 파라메터가 없이 호출되면 현재 시점 기준으로 최근 90일 구간에 대한 데이터를 검색하게 됩니다. <br>from, to 파라메터를 지정하여 90일 단위로 과거 데이터 조회는 가능합니다.<br><h4>정렬기준</h4> 마이너스(-) 기호가 앞에 붙으면 내림차순 정렬을 의미합니다. <ul><li>-started : 결제시작시각(결제창오픈시각) 기준 내림차순(DESC) 정렬</li><li>started : 결제시작시각(결제창오픈시각) 기준 오름차순(ASC) 정렬</li><li>-paid : 결제완료시각 기준 내림차순(DESC) 정렬</li><li>paid : 결제완료시각 기준 오름차순(ASC) 정렬</li><li>-updated : 최종수정시각(결제건 상태변화마다 수정시각 변경됨) 기준 내림차순(DESC) 정렬</li><li>updated : 최종수정시각(결제건 상태변화마다 수정시각 변경됨) 기준 오름차순(ASC) 정렬</li></ul>","operationId":"getPaymentsByStatus","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"payment_status","in":"path","description":"전체 : all<br>미결제 : ready<br>결제완료 : paid<br>결제취소 : cancelled<br>결제실패 : failed","required":true,"type":"string","enum":["all","ready","paid","cancelled","failed"]},{"name":"page","in":"query","description":"1부터 시작. 기본값 1","required":false,"type":"integer"},{"name":"limit","in":"query","description":"한 번에 조회할 결제건수.(최대 1000건, 기본값 20건)","required":false,"type":"integer","default":"20","maximum":"1000","minimum":"1"},{"name":"from","in":"query","description":"기본값 : to 파라메터 기준으로 90일 전 unix timestamp.<br><br>시간별 검색 시작 시각(>=) UNIX TIMESTAMP. 결제건의 최종 status에 따라 다른 검색기준이 적용됩니다.<br>ready : 결제시작 시각 기준<br>paid : 결제완료 시각 기준<br>cancelled : 결제취소 시각 기준<br>failed : 결제실패 시각 기준","required":false,"type":"integer"},{"name":"to","in":"query","description":"기본값 : 현재 unix timestamp<br><br>.시간별 검색 종료 시각(<=) UNIX TIMESTAMP. 결제건의 최종 status에 따라 다른 검색기준이 적용됩니다.<br>ready : 결제시작 시각 기준<br>paid : 결제완료 시각 기준<br>cancelled : 결제취소 시각 기준<br>failed : 결제실패 시각 기준","required":false,"type":"integer"},{"name":"sorting","in":"query","description":"정렬기준. 기본값은 -started","required":false,"type":"string","default":"-started","enum":["-started","started","-paid","paid","-updated","updated"]}],"responses":{"200":{"description":"정상 조회","schema":{"$ref":"#/definitions/PaymentListResponse"}},"400":{"description":"유효하지 않은 payment_status인 경우, 데이터 범위를 넘어선 page인 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"}}}},"/payments/cancel":{"post":{"tags":["payments"],"description":"승인된 결제를 취소합니다.<br>신용카드/실시간계좌이체/휴대폰소액결제의 경우 즉시 취소처리가 이뤄지게 되며, 가상계좌와 휴대폰소액결제 익월 환불(KCP)의 경우는 환불받으실 계좌정보를 같이 전달해주시면 환불정보가 PG사에 등록되어 익영업일에 처리됩니다.(가상계좌 환불, 휴대폰소액결제 익월 환불(KCP)의 경우 관련 특약계약 필요)","operationId":"cancelPayment","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"formData","description":"취소할 거래의 아임포트 고유번호","required":false,"type":"string"},{"name":"merchant_uid","in":"formData","description":"가맹점에서 전달한 거래 고유번호.<br>imp_uid, merchant_uid 중 하나는 필수이어야 합니다.<br>두 값이 모두 넘어오면 imp_uid를 우선 적용합니다.","required":false,"type":"string"},{"name":"amount","in":"formData","description":"(부분)취소요청금액(누락이면 전액취소)","required":false,"type":"number"},{"name":"tax_free","in":"formData","description":"(부분)취소요청금액 중 면세금액(누락되면 0원처리)<br><h5>단, 아래 PG사의 경우 자동으로 0원 처리 되지 않으므로 면세 결제에 한하여 필수 입력 바랍니다.</h5><ul><li>kakao</li><li>kcp</li><li>kcp_quick</li><li>kicc</li><li>nice</li><li>payco</li></ul>","required":false,"type":"number"},{"name":"vat_amount","in":"formData","description":"(부분)취소요청금액 중 부가세 금액(기본값: null).<br>단, <b>결제 시 부가세를 지정했던 경우 필수</b> 입력 바랍니다.<br><h5>지원되는 PG사</h5><ul><li>나이스페이먼츠(nice)</li><li>이니시스(html5_inicis)</li></ul>","required":false,"type":"number"},{"name":"checksum","in":"formData","description":"취소 트랜잭션 수행 전, 현재시점의 취소 가능한 잔액.<br><br>API요청자가 기록하고 있는 취소가능 잔액과 아임포트가 기록하고 있는 취소가능 잔액이 일치하는지 사전에 검증하고, 검증에 실패하면 트랜잭션을 수행하지 않습니다. null인 경우에는 검증 프로세스를 생략합니다.","required":false,"type":"number"},{"name":"reason","in":"formData","description":"취소 사유","required":false,"type":"string"},{"name":"refund_holder","in":"formData","description":"환불계좌 예금주(가상계좌취소, 휴대폰소액결제 익월 환불(KCP)시 필수)","required":false,"type":"string"},{"name":"refund_bank","in":"formData","description":"환불계좌 은행코드(하단 은행코드표 참조. 가상계좌취소, 휴대폰소액결제 익월 환불(KCP)시 필수)","required":false,"type":"string"},{"name":"refund_account","in":"formData","description":"환불계좌 계좌번호(가상계좌취소, 휴대폰소액결제 익월 환불(KCP)시 필수)","required":false,"type":"string"},{"name":"refund_tel","in":"formData","description":"환불계좌 예금주 연락처(가상계좌취소,스마트로 - 구모듈 PG사 인경우 필수 )","required":false,"type":"string"}],"responses":{"200":{"description":"정상 조회","schema":{"$ref":"#/definitions/PaymentResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"}}}},"/payments/prepare":{"put":{"tags":["payments.validation"],"description":"POST /payments/prepare 로 이미 등록된 결제사전정보에 대해 금액을 수정하는 기능입니다.","operationId":"editPreparePayment","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"merchant_uid","in":"formData","description":"이미 사전등록한 가맹점 거래 고유번호","required":true,"type":"string","maxLength":40},{"name":"amount","in":"formData","description":"결제예정금액","required":true,"type":"number"}],"responses":{"200":{"description":"정상 조회","schema":{"$ref":"#/definitions/PaymentPrepareResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"요청된 merchant_uid 로 등록된 결제사전정보를 찾을 수 없는 경우"}}},"post":{"tags":["payments.validation"],"description":"(아임포트 javascript사용)인증방식의 결제를 진행할 때 결제금액 위변조시 결제진행자체를 block하기 위해 결제예정금액을 사전등록하는 기능입니다.<br>이 API를 통해 사전등록된 가맹점 주문번호(merchant_uid)에 대해, IMP.request_pay()에 전달된 merchant_uid가 일치하는 주문의 결제금액이 다른 경우 PG사 결제창 호출이 중단됩니다.","operationId":"preparePayment","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"merchant_uid","in":"formData","description":"가맹점 거래 고유번호","required":true,"type":"string","maxLength":40},{"name":"amount","in":"formData","description":"결제예정금액","required":true,"type":"number"}],"responses":{"200":{"description":"정상 조회","schema":{"$ref":"#/definitions/PaymentPrepareResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"}}}},"/payments/prepare/{merchant_uid}":{"get":{"tags":["payments.validation"],"summary":"사전등록된 결제정보를 조회합니다","description":"/payments/prepare로 이미 등록되어있는 사전등록 결제정보를 조회합니다","operationId":"getPaymentPrepareByMerchantUid","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"merchant_uid","in":"path","description":"가맹점 거래 고유번호","required":true,"type":"string"}],"responses":{"200":{"description":"정상 조회","schema":{"$ref":"#/definitions/PaymentPrepareResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"}}}},"/paymentwall/delivery":{"post":{"tags":["paymentwall"],"description":"이커머스(실물 상품) 비즈니스의 경우, 페이먼트월에서 필수적으로 요구되는 배송정보 등록 API","operationId":"paymentwall_delivery","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"formData","description":"아임포트 고유 거래번호","required":true,"type":"string","maxLength":40},{"name":"merchant_uid","in":"formData","description":"가맹점 고유 거래번호","required":true,"type":"string","maxLength":40},{"name":"type","in":"formData","description":"상품의 성질 (:= 'physical'(실물), 'digital'(게임 아이템, 전자책 등 가상품목))","required":true,"type":"string","maxLength":10,"enum":["physical","digital"]},{"name":"status","in":"formData","description":"Status 중 order_placed / order_shipped / delivering / delivered  네 가지는 필수적으로 설정 필요","required":true,"type":"string","maxLength":10},{"name":"carrier_tracking_id","in":"formData","description":"운송장 번호 (physical 주문인 경우 필수 파라미터)","type":"string","maxLength":64},{"name":"carrier_type","in":"formData","description":"운송사 이름 (physical 주문인 경우 필수 파라미터)","type":"string","maxLength":64},{"name":"estimated_delivery_datetime","in":"formData","description":"도착예상시간 Unix timestamp sec (digital인 경우, 지금 시간을 기록해도 무방)","required":true,"type":"integer","maxLength":64},{"name":"estimated_update_datetime","in":"formData","description":"배송상태 업데이트 예정시간 Unix timestamp sec (digital인 경우, 지금 시간을 기록해도 무방)","required":true,"type":"integer","maxLength":64},{"name":"reason","in":"formData","description":"사유","type":"string","maxLength":64},{"name":"refundable","in":"formData","description":"환불가능여부","required":true,"type":"string","maxLength":64,"enum":["yes","no"]},{"name":"details","in":"formData","description":"자세한 사항들","type":"string","maxLength":400},{"name":"shipping_address_email","in":"formData","description":"수신자 email","required":true,"type":"string","maxLength":50},{"name":"shipping_address_country","in":"formData","description":"수신자 국가 (physical 주문인 경우 필수 파라미터)","type":"string","maxLength":40},{"name":"shipping_address_city","in":"formData","description":"수신자 시 (physical 주문인 경우 필수 파라미터)","type":"string","maxLength":40},{"name":"shipping_address_zip","in":"formData","description":"수신자 우편번호 (physical 주문인 경우 필수 파라미터)","type":"string","maxLength":40},{"name":"shipping_address_state","in":"formData","description":"수신자 주. 미국이 아닌 경우 'N/A'로 표기 (physical 주문인 경우 필수 파라미터)","type":"string","maxLength":40},{"name":"shipping_address_street","in":"formData","description":"수신자 거리명 (physical 주문인 경우 필수 파라미터)","type":"string","maxLength":40},{"name":"shipping_address_phone","in":"formData","description":"수신자 전화번호 (physical 주문인 경우 필수 파라미터)","type":"string","maxLength":40},{"name":"shipping_address_firstname","in":"formData","description":"수신자 이름 (physical 주문인 경우 필수 파라미터)","type":"string","maxLength":40},{"name":"shipping_address_lastname","in":"formData","description":"수신자 성 (physical 주문인 경우 필수 파라미터)","type":"string","maxLength":40}],"responses":{"200":{"description":"정상 결제","schema":{"$ref":"#/definitions/PaymentwallDeliveryAnnotation"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"}}}},"/receipts/{imp_uid}":{"get":{"tags":["receipts"],"summary":"아임포트를 통해 발행된 현금영수증 상세정보를 조회하는 API입니다.","description":"","operationId":"getReceipt","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"아임포트 거래 고유번호","required":true,"type":"string"}],"responses":{"200":{"description":"현금영수증 상세정보 조회 완료","schema":{"$ref":"#/definitions/ReceiptResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"존재하지 않는 아임포트 거래정보이거나 현금영수증 발행된 내역이 확인되지 않는 경우"}}},"post":{"tags":["receipts"],"summary":"구매자에게 현금영수증을 발행하는 API입니다","description":"계약된 PG사의 API를 이용해 현금영수증 발행을 처리하는 아임포트 API입니다. imp_uid 거래를 처리하는데 사용된 PG설정값을 그대로 활용합니다. (ex. KCP 거래건이면 KCP를 통해 현금영수증 발행 API처리)<br><br>현금영수증 발행금액은 결제된 금액을 적용합니다. 부분취소된 경우 잔여금액을 적용합니다. <br>발행금액의 1/11 이 부가세로 자동 적용되므로, 부가세금액 조정을 위해서는 tax_free 파라메터를 활용해주세요.<h4>지원되는 PG사</h4><ul> <li>KG이니시스</li> <li>NHN KCP</li> <li>나이스페이먼츠</li> <li>KICC</li> <li>헥토파이낸셜(구 세틀뱅크)</li> <li>페이조아</li> <li>토스페이먼츠 - 신모듈</li> <li>KSPAY</li> <li>스마트로 - 신모듈</li></ul>","operationId":"issueReceipt","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"아임포트 거래 고유번호","required":true,"type":"string"},{"name":"product_type","in":"formData","description":"(KSPAY인 경우만 필수) 현금영수증 발행 주문 상품구분.<br>- real: 실물상품<br>- digital: 디지털컨텐츠","required":false,"type":"string","enum":["real","digital"]},{"name":"identifier","in":"formData","description":"현금영수증 발행대상 식별정보. 국세청현금영수증카드, 휴대폰번호, 주민등록번호, 사업자등록번호","required":true,"type":"string"},{"name":"identifier_type","in":"formData","description":"(KICC, 헥토파이낸셜(구 세틀뱅크)인 경우에만 필수. KG이니시스/NHN KCP/나이스페이먼츠/페이조아는 identifier 만으로 자동 처리)<br><br> 현금영수증 발행대상 식별정보 유형. <br>- person : 주민등록번호<br>- business : 사업자등록번호<br>- phone : 휴대폰번호<br>- taxcard : 국세청현금영수증카드","required":false,"type":"string","enum":["person","business","phone","taxcard"]},{"name":"type","in":"formData","description":"현금영수증 발행 타입(대상).<br>소득공제용(개인) : person, 지출증빙용(법인) : company<br>기본값 : person","required":false,"type":"string","default":"person","enum":["person","company"]},{"name":"company_tel","in":"formData","description":"(페이조아인 경우만 필수) 발행 상점 고객센터 번호","required":false,"type":"string"},{"name":"company_name","in":"formData","description":"(페이조아인 경우만 필수) 상점 사업자 명","required":false,"type":"string"},{"name":"corp_reg_no","in":"formData","description":"(페이조아인 경우만 필수) 상점 사업자 번호","required":false,"type":"string"},{"name":"buyer_name","in":"formData","description":"(KSPAY, 스마트로 - 신모듈 필수) 구매자 이름 (현금영수증 발행건 사후 추적을 위해 입력을 강력히 권장합니다.)","required":false,"type":"string"},{"name":"buyer_email","in":"formData","description":"구매자 Email","required":false,"type":"string"},{"name":"buyer_tel","in":"formData","description":"(스마트로 - 신모듈 필수) 구매자 전화번호 (현금영수증 발행건 사후 추적을 위해 입력을 강력히 권장합니다.)","required":false,"type":"string"},{"name":"tax_free","in":"formData","description":"현금영수증 발행금액 중 면세금액<br>지정하지 않으면 0원으로 적용","required":false,"type":"integer"},{"name":"vat","in":"formData","description":"Deprecated 되었으므로 tax_free 파라메터를 사용해주세요.<br>부가세(지정하지 않으면 공급가액의 10%로 자동 적용)","required":false,"type":"integer","deprecated":true},{"name":"vat_amount","in":"formData","description":"부가세 지정 가맹점에 한해 현금영수증 발행 금액 중 부가세 금액으로 부가세를 지정할 수 있습니다.","required":false,"type":"double"}],"responses":{"200":{"description":"현금영수증 발행 완료","schema":{"$ref":"#/definitions/ReceiptResponse"}},"400":{"description":"필수 파라메터가 누락된 경우, 결제완료(paid)가 아닌 결제 건에 대해 발행요청한 경우, 이미 현금영수증 발행된 건에 대해 요청한 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"500":{"description":"현금영수증 발행에 실패한 경우"},"501":{"description":"현재 아임포트가 현금영수증 관련 지원하지 않는 PG사인 경우"}}},"delete":{"tags":["receipts"],"summary":"발급된 현금영수증을 취소하는 API입니다","description":"PG사의 API를 이용해 이미 발급처리된 현금영수증을 발급취소하는 아임포트 API입니다.\n<h4>지원되는 PG사</h4>\n<ul>\n    <li>KG이니시스</li>\n    <li>NHN KCP</li>\n    <li>헥토파이낸셜(구 세틀뱅크)</li>\n    <li>나이스페이먼츠</li>\n    <li>페이조아</li>\n    <li>토스페이먼츠 - 신모듈</li>\n    <li>KSPAY</li>\n    <li>(신) 나이스페이</li>\n</ul>","operationId":"revokeReceipt","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"imp_uid","in":"path","description":"아임포트 거래 고유번호","required":true,"type":"string"}],"responses":{"200":{"description":"현금영수증 발급취소 완료","schema":{"$ref":"#/definitions/ReceiptResponse"}},"400":{"description":"아임포트로 현금영수증이 발급된 적 없는 건에 대해서 발급취소 요청한 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"500":{"description":"PG사로부터 현금영수증 발급취소 실패응답을 받은 경우"},"501":{"description":"현재 아임포트가 현금영수증 관련 지원하지 않는 PG사인 경우"}}}},"/receipts/external/{merchant_uid}":{"get":{"tags":["receipts"],"summary":"아임포트 API를 통해 현금영수증만 발행된 건의 상세정보를 조회하는 API입니다. (아임포트와 별개로 결제된 현금거래건)","description":"","operationId":"getExternalReceipt","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"merchant_uid","in":"path","description":"현금영수증 발행 주문명","required":true,"type":"string"}],"responses":{"200":{"description":"현금영수증 상세정보 조회 완료","schema":{"$ref":"#/definitions/ExternalReceiptResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"merchant_uid 로 현금영수증 발행된 내역이 확인되지 않는 경우"}}},"post":{"tags":["receipts"],"summary":"아임포트와 별개로 거래된 일반 현금결제에 대해서 현금영수증을 발행하는 API입니다","description":"아임포트와 별개로 거래된 일반 현금결제에 대해, 아임포트 내에 설정된 PG사로 아임포트 API를 이용해 현금영수증 발행 요청하는 API입니다. merchant_uid는 현금결제를 구분할 고유주문번호를 의미합니다. <br>pg 파라메터를 지정하지 않으면, 기본 PG설정값을 이용해 발행시도하게 됩니다. <br>발행금액의 1/11 이 부가세로 자동 적용되므로, 부가세금액 조정을 위해서는 tax_free 파라메터를 활용해주세요.<h4>지원되는 PG사</h4><ul> <li>KG이니시스</li> <li>NHN KCP</li> <li>나이스페이먼츠</li> <li>KICC</li> <li>헥토파이낸셜(구 세틀뱅크)</li> <li>토스페이먼츠 - 신모듈</li> <li>KSPAY</li> <li>스마트로 - 신모듈</li> <li>(신) 나이스페이</li></ul>","operationId":"issueExternalReceipt","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"merchant_uid","in":"path","description":"현금영수증 발행을 위한 가맹점 주문번호 (스마트로 - 신모듈의 경우, 특수문자 포함이 불가능합니다.)","required":true,"type":"string"},{"name":"name","in":"formData","description":"현금영수증 발행 주문명","required":true,"type":"string"},{"name":"amount","in":"formData","description":"현금영수증 발행 금액","required":true,"type":"integer"},{"name":"product_type","in":"formData","description":"(KSPAY인 경우만 필수) 현금영수증 발행 주문 상품구분.<br>- real: 실물상품<br>- digital: 디지털컨텐츠","required":false,"type":"string","enum":["real","digital"]},{"name":"identifier","in":"formData","description":"현금영수증 발행대상 식별정보. 국세청현금영수증카드, 휴대폰번호, 주민등록번호, 사업자등록번호","required":true,"type":"string"},{"name":"identifier_type","in":"formData","description":"(KICC, 헥토파이낸셜(구 세틀뱅크)인 경우에만 필수. KG이니시스/NHN KCP/나이스페이먼츠는 identifier 만으로 자동 처리)<br><br> 현금영수증 발행대상 식별정보 유형. <br>- person : 주민등록번호<br>- business : 사업자등록번호<br>- phone : 휴대폰번호<br>- taxcard : 국세청현금영수증카드","required":false,"type":"string","enum":["person","business","phone","taxcard"]},{"name":"type","in":"formData","description":"현금영수증 발행 타입(대상).<br>소득공제용(개인) : person, 지출증빙용(법인) : company<br>기본값 : person","required":false,"type":"string","default":"person","enum":["person","company"]},{"name":"buyer_name","in":"formData","description":"(KSPAY, 스마트로 - 신모듈 필수) 구매자 이름 (현금영수증 발행건 사후 추적을 위해 입력을 강력히 권장합니다.)","required":false,"type":"string"},{"name":"buyer_email","in":"formData","description":"구매자 Email","required":false,"type":"string"},{"name":"buyer_tel","in":"formData","description":"(스마트로 - 신모듈 필수) 구매자 전화번호 (현금영수증 발행건 사후 추적을 위해 입력을 강력히 권장합니다.)","required":false,"type":"string"},{"name":"tax_free","in":"formData","description":"현금영수증 발행금액 중 면세금액<br>지정하지 않으면 0원으로 적용","required":false,"type":"integer"},{"name":"pg","in":"formData","description":"PG설정이 2개 이상인 경우, 현금영수증 발행처리를 원하는 PG사를 지정하실 수 있습니다. pg 파라메터는 <b>{PG사}</b> 혹은 <b>{PG사}.{PG상점아이디}</b> 형태의 문자열입니다. <br>지정하지 않거나 유효하지 않은 값이 전달되면 기본PG설정된 값을 이용해 결제하게 됩니다. <br><ul><li>나이스페이먼츠, JTNet 2가지 PG설정이 되어있다면, pg 파라메터로 <b>nice</b> 또는 <b>jtnet</b>로 구분 가능</li><li>나이스페이먼츠로부터 2개 이상의 상점아이디를 발급받았다면, <b>nice.MID1</b> 또는 <b>nice.MID2</b>로 구분 가능</li></ul>","required":false,"type":"string","maxLength":80},{"name":"vat_amount","in":"formData","description":"부가세 지정 가맹점에 한해 현금영수증 발행 금액 중 부가세 금액으로 부가세를 지정할 수 있습니다.","required":false,"type":"double"}],"responses":{"200":{"description":"현금영수증 발행 완료","schema":{"$ref":"#/definitions/ExternalReceiptResponse"}},"400":{"description":"필수 파라메터가 누락된 경우, 이미 현금영수증 발행된 merchant_uid 에 대해 요청한 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"500":{"description":"현금영수증 발행에 실패한 경우"},"501":{"description":"현재 아임포트가 현금영수증 관련 지원하지 않는 PG사인 경우"}}},"delete":{"tags":["receipts"],"summary":"아임포트와 별개로 거래된 일반 현금결제에 대해서 발행된 현금영수증을 취소하는 API입니다","description":"아임포트와 별개로 거래된 일반 현금결제에 대해, 아임포트 내에 설정된 PG사로 아임포트 API를 이용해 현금영수증 발행취소하는 API입니다. merchant_uid는 현금결제를 구분할 고유주문번호를 의미하며 발행에 사용된 값을 전달하면 됩니다.\n<h4>지원되는 PG사</h4>\n<ul>\n    <li>KG이니시스</li>\n    <li>NHN KCP</li>\n    <li>헥토파이낸셜(구 세틀뱅크)</li>\n    <li>나이스페이먼츠</li>\n    <li>토스페이먼츠 - 신모듈</li>\n    <li>KSPAY</li>\n    <li>(신) 나이스페이</li>\n</ul>","operationId":"revokeExternalReceipt","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"merchant_uid","in":"path","description":"현금영수증 발행취소를 위한 가맹점 주문번호","required":true,"type":"string"}],"responses":{"200":{"description":"현금영수증 발행취소 완료","schema":{"$ref":"#/definitions/ExternalReceiptResponse"}},"400":{"description":"merchant_uid 파라메터가 누락된 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"현금영수증 발행된 적이 없는 merchant_uid 에 대해 요청한 경우"},"500":{"description":"현금영수증 발행취소에 실패한 경우"},"501":{"description":"현재 아임포트가 현금영수증 관련 지원하지 않는 PG사인 경우"}}}},"/cards":{"get":{"tags":["codes"],"summary":"카드사정보 리스트를 조회합니다.","description":"카드사표준코드, 카드사명을 모두 조회할 수 있습니다(금융결제원표준코드 기준)","operationId":"allCardCodes","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/StandardCodeListResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"코드에 해당되는 카드사정보를 찾을 수 없음"}}}},"/cards/{card_standard_code}":{"get":{"tags":["codes"],"summary":"카드사정보를 조회합니다.","description":"카드사표준코드, 카드사명을 조회할 수 있습니다(금융결제원표준코드 기준)","operationId":"cardCodes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"card_standard_code","in":"path","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/StandardCodeResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"코드에 해당되는 카드사정보를 찾을 수 없음"}}}},"/banks":{"get":{"tags":["codes"],"summary":"은행정보 리스트를 조회합니다.","description":"은행표준코드, 은행명을 모두 조회할 수 있습니다(금융결제원표준코드 기준)","operationId":"allBankCodes","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/StandardCodeListResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"코드에 해당되는 은행정보를 찾을 수 없음"}}}},"/banks/{bank_standard_code}":{"get":{"tags":["codes"],"summary":"은행정보를 조회합니다.","description":"은행표준코드, 은행명을 조회할 수 있습니다(금융결제원표준코드 기준)","operationId":"bankCodes","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"bank_standard_code","in":"path","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/StandardCodeResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"},"404":{"description":"코드에 해당되는 은행정보를 찾을 수 없음"}}}},"/subscribe/payments/onetime":{"post":{"tags":["subscribe"],"description":"구매자로부터 별도의 인증과정을 거치지 않고, 카드정보만으로 결제를 진행하는 API입니다(아임포트 javascript가 필요없습니다).<br>customer_uid를 전달해주시면 결제 후 다음 번 결제를 위해 성공된 결제에 사용된 빌링키를 저장해두게되고, customer_uid가 없는 경우 저장되지 않습니다.<br>동일한 merchant_uid는 재사용이 불가능하며 고유한 값을 전달해주셔야 합니다.<br><br>빌링키 저장 시, buyer_email, buyer_name 등의 정보는 customer 부가정보인 customer_email, customer_name 등으로 함께 저장됩니다. <br>/subscribe/customers/{customer_uid} 참조","operationId":"onetime","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"merchant_uid","in":"formData","description":"가맹점 거래 고유번호","required":true,"type":"string","maxLength":40},{"name":"currency","in":"formData","description":"(Paymentwall 전용) 외환부호 e.g.) KRW, USD, VND, ... Default: KRW","required":false,"type":"string"},{"name":"amount","in":"formData","description":"결제금액","required":true,"type":"number"},{"name":"tax_free","in":"formData","description":"amount 중 면세공급가액.<br/>기본값은 0이므로(amount 모두 과세대상이므로) amount의 1/11 이 부가세로 처리됩니다.","required":false,"type":"number"},{"name":"vat_amount","in":"formData","description":"amount 중 부가세 금액.<br/>부가세를 지정할 수 있으며, tax_free=0, vat_amount=0으로 영세율로 결제 가능합니다.(기본값: null)<br><h5>지원되는 PG사</h5><ul><li>나이스페이먼츠</li><li>이니시스</li><li>(신) 나이스페이</li></ul>","required":false,"type":"number"},{"name":"vat","in":"formData","description":"Deprecated 되었습니다. tax_free 파라메터를 사용해주세요.<br/>결제금액 중 부가세 금액(파라메터가 누락되면 10%로 자동 계산됨)","required":false,"type":"number","deprecated":true},{"name":"card_number","in":"formData","description":"카드번호(dddd-dddd-dddd-dddd)","required":true,"type":"string"},{"name":"expiry","in":"formData","description":"카드 유효기간(YYYY-MM)","required":true,"type":"string"},{"name":"birth","in":"formData","description":"생년월일6자리(법인카드의 경우 사업자등록번호10자리)","required":true,"type":"string"},{"name":"pwd_2digit","in":"formData","description":"카드비밀번호 앞 2자리","required":false,"type":"string"},{"name":"cvc","in":"formData","description":"카드 인증번호 (카드 뒷면 3자리, AMEX의 경우 4자리). Paymentwall에서만 사용","required":false,"type":"string"},{"name":"customer_uid","in":"formData","description":"string 타입의 고객 고유번호.<br><br>(결제에 사용된 카드정보를 빌링키 형태로 저장해두고 재결제에 사용하시려면 customer_uid를 지정해주세요. /subscribe/payments/again, /subscribe/payments/schedule로 재결제를 진행하실 수 있습니다.)","required":false,"type":"string","maxLength":80},{"name":"pg","in":"formData","description":"API 방식 비인증 PG설정이 2개 이상인 경우, 결제가 진행되길 원하는 PG사를 지정하실 수 있습니다. pg 파라메터는 <b>{PG사}</b> 혹은 <b>{PG사}.{PG상점아이디}</b> 형태의 문자열입니다. <br>지정하지 않거나 유효하지 않은 값이 전달되면 기본PG설정된 값을 이용해 결제하게 됩니다. <br><ul><li>나이스페이먼츠, JTNet 2가지 PG설정이 되어있다면, pg 파라메터로 <b>nice</b> 또는 <b>jtnet</b>로 구분 가능</li><li>나이스페이먼츠로부터 2개 이상의 상점아이디를 발급받았다면, <b>nice.MID1</b> 또는 <b>nice.MID2</b>로 구분 가능</li></ul>","required":false,"type":"string","maxLength":80},{"name":"name","in":"formData","description":"주문명","required":false,"type":"string","maxLength":40},{"name":"buyer_name","in":"formData","description":"주문자명 (KSPAY 필수)","required":false,"type":"string","maxLength":16},{"name":"buyer_email","in":"formData","description":"주문자 E-mail주소","required":false,"type":"string","maxLength":64},{"name":"buyer_tel","in":"formData","description":"주문자 전화번호","required":false,"type":"string","maxLength":16},{"name":"buyer_addr","in":"formData","description":"주문자 주소","required":false,"type":"string","maxLength":128},{"name":"buyer_postcode","in":"formData","description":"주문자 우편번호","required":false,"type":"string","maxLength":8},{"name":"card_quota","in":"formData","description":"카드할부개월수. 2 이상의 integer 할부개월수 적용(결제금액 50,000원 이상 한정, default = 일시불) ","required":false,"type":"integer"},{"name":"interest_free_by_merchant","in":"formData","description":"카드할부처리할 때, 할부이자가 발생하는 경우(카드사 무이자 프로모션 제외) 부과되는 할부이자를 고객대신 가맹점이 지불하고자 PG사와 계약된 경우(현재, 나이스페이먼츠, (신) 나이스페이만 지원됨)","required":false,"type":"boolean","default":false},{"name":"use_card_point","in":"formData","description":"승인요청시 카드사 포인트 차감하며 결제승인처리할지 flag. PG사 영업담당자와 계약 당시 사전 협의 필요(현재, (신) 나이스페이만 지원됨)","required":false,"type":"boolean","default":false},{"name":"custom_data","in":"formData","description":"거래정보와 함께 저장할 추가 정보","required":false,"type":"string"},{"name":"notice_url","in":"formData","description":"결제성공 시 통지될 Notification URL(Webhook URL)","required":false,"type":"string"},{"name":"browser_ip","in":"formData","description":"[페이먼트월 필수] 구매자 브라우져(PC)의 IP","required":false,"type":"string"},{"name":"secure_3d_charge_id","in":"formData","description":"(해외PG 전용) 3D secure 인증 후 재결제시 PG사에서 부여한 결제 ID","required":false,"type":"string"},{"name":"secure_3d_token","in":"formData","description":"(해외PG 전용) 3D secure 인증 후 재결제시 PG사에서 부여한 토큰","required":false,"type":"string"},{"name":"product_type","in":"formData","description":"[KSPAY 필수 파라미터] 판매 상품에 대한 구분 값<br>real : 실물상품<br>digital : 디지털 컨텐츠<br>","required":false,"type":"string","enum":["real","digital"]}],"responses":{"200":{"description":"정상 결제","schema":{"$ref":"#/definitions/PaymentResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"}}}},"/subscribe/payments/again":{"post":{"tags":["subscribe"],"description":"저장된 빌링키로 재결제를 하는 경우 사용됩니다. /subscribe/payments/onetime 또는 /subscribe/customers/{customer_uid} 로 등록된 빌링키가 있을 때 매칭되는 customer_uid로 재결제를 진행할 수 있습니다.","operationId":"again","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"customer_uid","in":"formData","description":"string 타입의 고객 고유번호","required":true,"type":"string","maxLength":80},{"name":"merchant_uid","in":"formData","description":"가맹점 거래 고유번호 (스마트로 - 신모듈의 경우, 특수문자 포함이 불가능합니다.)","required":true,"type":"string","maxLength":40},{"name":"currency","in":"formData","description":"(Paymentwall 전용) 외환부호 e.g.) KRW, USD, VND, ... Default: KRW","required":false,"type":"string"},{"name":"amount","in":"formData","description":"결제금액","required":true,"type":"number"},{"name":"tax_free","in":"formData","description":"amount 중 면세공급가액.<br/>기본값은 0이므로(amount 모두 과세대상이므로) amount의 1/11 이 부가세로 처리됩니다.","required":false,"type":"number"},{"name":"vat_amount","in":"formData","description":"amount 중 부가세 금액.<br/>부가세를 지정할 수 있으며, tax_free=0, vat_amount=0으로 영세율로 결제 가능합니다.(기본값: null)<br><h5>지원되는 PG사</h5><ul><li>나이스페이먼츠</li><li>이니시스</li><li>(신) 나이스페이</li></ul>","required":false,"type":"number"},{"name":"vat","in":"formData","description":"Deprecated 되었습니다. tax_free 파라메터를 사용해주세요.<br/>결제금액 중 부가세 금액(파라메터가 누락되면 10%로 자동 계산됨)","required":false,"type":"number","deprecated":true},{"name":"name","in":"formData","description":"주문명","required":true,"type":"string","maxLength":40},{"name":"buyer_name","in":"formData","description":"주문자명 (KSPAY, 스마트로 - 신모듈 필수)","required":false,"type":"string","maxLength":16},{"name":"buyer_email","in":"formData","description":"주문자 E-mail주소 (스마트로 - 신모듈 필수)","required":false,"type":"string","maxLength":64},{"name":"buyer_tel","in":"formData","description":"주문자 전화번호 (스마트로 - 신모듈 필수)","required":false,"type":"string","maxLength":16},{"name":"buyer_addr","in":"formData","description":"주문자 주소","required":false,"type":"string","maxLength":128},{"name":"buyer_postcode","in":"formData","description":"주문자 우편번호","required":false,"type":"string","maxLength":8},{"name":"card_quota","in":"formData","description":"카드할부개월수. 2 이상의 integer 할부개월수 적용(결제금액 50,000원 이상 한정, default = 일시불)","required":false,"type":"integer"},{"name":"interest_free_by_merchant","in":"formData","description":"카드할부처리할 때, 할부이자가 발생하는 경우(카드사 무이자 프로모션 제외) 부과되는 할부이자를 고객대신 가맹점이 지불하고자 PG사와 계약된 경우(현재, 나이스페이먼츠, (신) 나이스페이만 지원됨)","required":false,"type":"boolean","default":false},{"name":"use_card_point","in":"formData","description":"승인요청시 카드사 포인트 차감하며 결제승인처리할지 flag. PG사 영업담당자와 계약 당시 사전 협의 필요(현재, 나이스페이먼츠, 스마트로 - 신모듈, (신) 나이스페이만 지원됨)","required":false,"type":"boolean","default":false},{"name":"custom_data","in":"formData","description":"거래정보와 함께 저장할 추가 정보","required":false,"type":"string"},{"name":"notice_url","in":"formData","description":"결제성공 시 통지될 Notification URL(Webhook URL)","required":false,"type":"string"},{"name":"browser_ip","in":"formData","description":"[페이먼트월 필수] 구매자 브라우져(PC)의 IP","required":false,"type":"string"},{"name":"product_type","in":"formData","description":"[KSPAY 필수] 판매 상품에 대한 구분 값 (real : 실물상품, digital : 디지털 컨텐츠)","required":false,"type":"string","enum":["real","digital"]},{"name":"product_count","in":"formData","description":"결제 상품의 개수 (Default : 1)","required":false,"type":"integer"},{"name":"bypass","in":"formData","description":"포트원이 정규화하기 어려운 JSON string 형식의 PG사별 specific 파라미터. 전달 한 값은 가공 없이 그대로 PG사로 전달 됨. 각 PG사별 스펙은 PG사별 연동 문서 참고","required":false,"type":"string"}],"responses":{"200":{"description":"정상 결제","schema":{"$ref":"#/definitions/PaymentResponse"}},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"}}}},"/subscribe/payments/schedule":{"get":{"tags":["subscribe"],"description":"기간범위를 지정하여 결제예약목록을 조회할 수 있습니다. 결제예약정보가 (페이징된)목록으로 전달되며, 최대 3개월 단위로 조회가 가능합니다.<br><br>결제예약정보가 예약된 시각 기준으로 최신순으로 정렬되어 전달됩니다.<br>과거순으로 정렬하기 위해서는 sorting=scheduled 파라메터를 지정하시면 됩니다.","operationId":"findSchedulesByRange","consumes":["application/json","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"schedule_from","in":"query","description":"조회 시작시각 unix timestamp(결제예약건의 '예약시각'기준으로 조회합니다. from <= '예약시각')","required":true,"type":"integer"},{"name":"schedule_to","in":"query","description":"조회 종료시각 unix timestamp(결제예약건의 '예약시각'기준으로 조회합니다. '예약시각' < to)","required":true,"type":"integer"},{"name":"schedule_status","in":"query","description":"예약상태. 누락되면 모든 상태의 예약내역 조회","required":false,"type":"string","enum":["scheduled","executed","revoked"]},{"name":"page","in":"query","description":"조회목록 페이징. 1부터 시작하며, 기본값은 1입니다.","required":false,"type":"integer"},{"name":"limit","in":"query","description":"한 번에 조회할 결제예약건수.(최대 1000건, 기본값 20건)","required":false,"type":"integer","default":"20","maximum":"1000","minimum":"1"}],"responses":{"200":{"description":"결제예약목록 조회완료","schema":{"$ref":"#/definitions/ScheduleResponse"}},"400":{"description":"검색 파라메터가 유효하지 않은 경우"},"401":{"description":"인증 Token이 전달되지 않았거나 유효하지 않은 경우"}}},"post":{"tags":["subscribe"],"description":"비인증 결제요청을 미리 예약해두면 아임포트가 자동으로 해당 시간에 맞춰 결제를 진행하는 방식입니다.(/subscribe/payments/again 를 아임포트가
[...]
