---
import type { CollectionEntry } from "astro:content";
import LayoutKo from "~/layouts/LayoutKo.astro";
import PostList from "./PostList.astro";
// import NavigationMenu, { navMap } from "~/components/blog/NavigationMenu";

interface Props {
  listTitle: string;
  entries: CollectionEntry<"blog">[];
  activeTag?: string;
}

const { listTitle, entries } = Astro.props;

// const pathname = Astro.url.pathname.replace(/\/$/, "");
---

<LayoutKo title="PortOne 기술 블로그" navAsMenu>
  <div class="max-w-1148px mx-auto my-4 flex min-h-full flex-col gap-10 px-5">
    <div class="z-10 flex flex-wrap items-end justify-between gap-x-6 gap-y-4">
      <h1 class="text-slate-8 text-8 lg:text-10 break-keep font-bold">
        <a href="/blog">PortOne 기술 블로그</a>
      </h1>
      <!--
        <NavigationMenu
          client:visible
          activeTag={activeTag ?? navMap[pathname as keyof typeof navMap]}
          class="<sm:w-full <lg:ml-auto"
        />
      -->
    </div>
    <div class="flex flex-col gap-6">
      <h2 class="text-slate-5 text-1.375rem font-semibold">
        {listTitle}
      </h2>
      <PostList entries={entries} />
    </div>
  </div>
</LayoutKo>
