---
import LayoutBase from "~/layouts/LayoutBase.astro";
import Component from "./_Page";
import NavMenu from "~/layouts/rest-api/nav-menu/NavMenu.astro";
import { getCategories } from "~/layouts/rest-api/schema-utils/category";
import schema from "~/schema/v2.openapi.json";

export const prerender = false;

const { slug } = Astro.params;
const [_api, _rest, section = ""] = Astro.url.pathname
  .split("/")
  .filter(Boolean);
---

<LayoutBase
  lang="ko"
  title="PortOne REST API - V2"
  slug={`api/rest-v2${slug ? `/${slug}` : ""}`}
>
  <div class="flex">
    <NavMenu
      title="REST API - V2"
      basepath="/api/rest-v2"
      items={getCategories(schema)}
    >
      <hr />
      <a href="/api/rest-v2-legacy" class="text-slate-4 hover:underline">
        런칭 이전 V2 API 문서 확인하기
      </a>
    </NavMenu>
    <Component client:visible currentSection={section} />
  </div>
</LayoutBase>
