---
interface Props {
  description: string | undefined;
}

const { description } = Astro.props;

const rendered = await Astro.slots.render("default");
---

<div class="mt-4">
  <Fragment set:html={rendered.trim() || description} />
</div>
