---
import LeftSidebar from "~/layouts/sidebar/LeftSidebar.astro";
---

<LeftSidebar>
  <nav
    class="text-slate-7 flex h-full flex-col gap-2 overflow-y-scroll p-2 pt-8 text-lg"
  >
    <a class="hover:bg-slate-1 block rounded px-2 py-1">authenticate</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">payments</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">payments.validation</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">subscribe</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">subscribe.customer</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">vbanks</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">receipts</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">certifications</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">escrow.logis</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">codes</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">payco</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">naver</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">kakao</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">benepia</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">paymentwall</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">cvs</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">kcpquick</a>
    <a class="hover:bg-slate-1 block rounded px-2 py-1">users</a>
  </nav>
</LeftSidebar>
