---
import LeftSidebar from "~/layouts/sidebar/LeftSidebar.astro";

export interface NavMenuItem {
  title: string;
  id: string;
  children?: NavMenuItem[];
}

interface Props {
  items: NavMenuItem[];
}
const { items } = Astro.props;
---

<script>
  import { sidebarOpenSignal } from "~/state/sidebar";
  const navMenu = document.getElementById("nav-menu");
  const navMenuItems = Array.from(navMenu?.querySelectorAll("a") || []);
  for (const item of navMenuItems) {
    item.addEventListener("click", (e) => {
      e.preventDefault();
      sidebarOpenSignal.value = false;
      document
        .getElementById(item.dataset.target || "")
        ?.scrollIntoView({ behavior: "smooth" });
      history.pushState({}, "", item.href);
    });
  }
</script>
<LeftSidebar>
  <nav
    id="nav-menu"
    class="text-slate-7 flex h-full flex-col gap-2 overflow-y-scroll p-2 pt-8 text-lg"
  >
    {
      items.map(({ id, title }) => (
        <a
          class="hover:bg-slate-1 block rounded px-2 py-1"
          href={`/api/rest-v1/${id}`}
          data-target={id}
          data-norefresh
        >
          {title}
        </a>
      ))
    }
  </nav>
</LeftSidebar>
