---
import LeftSidebar from "~/layouts/sidebar/LeftSidebar.astro";
---

<LeftSidebar>
  <div class="flex flex-col gap-2 p-2">
    <a class="hover:bg-slate-1 block rounded px-2 py-1 text-sm text-slate-500"
      >todo</a
    >
  </div>
</LeftSidebar>
