---
import type { Lang } from "../type";
import Gnb from "./gnb/Gnb.astro";

interface Props {
  lang: Lang;
  title: string;
}
const { lang, title } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
  </head>
  <body>
    <style>
      :root {
        word-break: keep-all;
        overflow-wrap: break-word;
      }
    </style>
    <Gnb lang={lang} />
    <slot />
  </body>
</html>
