---
import type { Lang } from "~/type";
import Gnb from "./gnb/Gnb.astro";
import Trackers from "./Trackers.astro";

interface Props {
  lang: Lang;
  title: string;
}
const { lang, title } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
    <Trackers />
  </head>
  <body>
    <script type="text/javascript">
      trackEvent("Developers_Page_View", {
        title: document.title,
        pathname: location.pathname,
      });
      [
        { ms: 1000, time: "1s" },
        { ms: 10000, time: "10s" },
        { ms: 30000, time: "30s" },
        { ms: 60000, time: "1m" },
        { ms: 600000, time: "10m" },
        { ms: 1800000, time: "30m" },
      ].map(({ ms, time }) => {
        setTimeout(() => {
          trackEvent("Developers_Page_Stay", {
            title: document.title,
            pathname: location.pathname,
            time,
          });
        }, ms);
      });
      // https://mixpanel.com/blog/link-tracking-in-mixpanel/
      window.addEventListener("click", (e) => {
        const a = e.target.closest("a");
        if (!a) return;
        const targetIsSelf = !a.target || a.target === "_self";
        if (targetIsSelf) e.preventDefault();
        trackEvent(
          "Developers_Link_Click",
          {
            label: a.textContent.trim(),
            from: location.pathname,
            to: a.href,
          },
          () => targetIsSelf && (location.href = a.href)
        );
      });
    </script>
    <style is:global>
      :root {
        overflow-wrap: break-word;
      }

      html,
      body {
        height: 100%;
      }

      article {
        word-break: break-all;
      }
      article code {
        padding: 0 0.25rem; /* p-1 */
        border-radius: 0.25rem; /* rounded */
        background-color: rgba(203, 213, 225, 0.25); /* bg-slate-3 */
        color: #eb5757;
      }
      article code .line.highlighted {
        background-color: rgb(255, 237, 213); /* bg-orange-1 */
      }
      article mark {
        background: none;
      }
      article div[data-rehype-pretty-code-fragment] {
        margin: 1em 0;
        padding: 0.5em 1em;
        border-radius: 0.25em;
        background-color: rgba(203, 213, 225, 0.25); /* bg-slate-3 */
      }
      article div[data-rehype-pretty-code-fragment] pre {
        white-space: pre-wrap;
      }
      article div[data-rehype-pretty-code-fragment] pre code {
        display: flex;
        flex-direction: column;
        background-color: transparent;
      }
      article div[data-rehype-pretty-code-fragment] pre code .line {
        display: block;
      }
      article div[data-rehype-pretty-code-title] {
        margin-bottom: 1em;
        color: rgba(156, 163, 175); /* text-gray */
      }
      article table {
        margin-top: 0.5rem; /* my-2 */
        margin-bottom: 0.5rem; /* my-2 */
      }
      article table th {
        padding: 0.5rem; /* p-2 */
        background-color: rgba(241, 245, 249, 0.5); /* bg-slate-1 */
        border-width: 1px;
      }
      article table td {
        padding: 0.5rem; /* p-2 */
        border-width: 1px;
        font-weight: normal;
        background-color: rgba(255, 255, 255, 0.5); /* bg-white */
      }
      article h1,
      article h2,
      article h3,
      article h4,
      article h5,
      article h6 {
        scroll-margin-top: 4.25rem;
      }

      article ul,
      article ol {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding-left: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }
      article ul:first-child,
      article ol:first-child {
        margin-top: 0;
      }
      article ul:last-child,
      article ol:last-child {
        margin-bottom: 0;
      }
      article ul {
        list-style-type: disc;
      }
      article ol {
        list-style-type: decimal;
      }

      .waiting {
        transform-origin: center;
        animation-name: waiting-outer;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      .waiting circle {
        transform-origin: center;
        animation-name: waiting-inner;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      @keyframes waiting-outer {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(1turn);
        }
      }
      /* 12 * 2pi = 75.3982... */
      @keyframes waiting-inner {
        0% {
          transform: rotate(0);
          stroke-dasharray: 0 0 0 0 999;
        }
        25% {
          transform: rotate(0.5turn);
          stroke-dasharray: 0 0 0 75.4 999;
        }
        50% {
          transform: rotate(1turn);
          stroke-dasharray: 0 0 75.4 75.4 999;
        }
        75% {
          transform: rotate(1.5turn);
          stroke-dasharray: 0 75.4 75.4 75.4 999;
        }
        100% {
          transform: rotate(2turn);
          stroke-dasharray: 75.4 75.4 75.4 75.4 999;
        }
      }
    </style>
    <div class="flex h-full flex-col">
      <Gnb lang={lang} />
      <main class="min-h-0 flex-1">
        <slot />
      </main>
    </div>
  </body>
</html>
