---
import sitemap from "sitemap-ext:config";

import * as prose from "~/components/prose";
import LayoutBase from "~/layouts/LayoutBase.astro";
import { interleave } from "~/layouts/rest-api";

export const prerender = true;

sitemap(false);

const ipsumEn = `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.`;
const ipsumKo = `국교는 인정되지 아니하며, 종교와 정치는 분리된다. 중앙선거관리위원회는 법령의 범위안에서 선거관리·국민투표관리 또는 정당사무에 관한 규칙을 제정할 수 있으며, 법률에 저촉되지 아니하는 범위안에서 내부규율에 관한 규칙을 제정할 수 있다.
언론·출판에 대한 허가나 검열과 집회·결사에 대한 허가는 인정되지 아니한다. 대통령은 제1항과 제2항의 처분 또는 명령을 한 때에는 지체없이 국회에 보고하여 그 승인을 얻어야 한다.`;
---

<LayoutBase lang="ko" title="Typography test">
  <div class="flex flex-col p-4">
    {
      interleave(
        (["h1", "h2", "h3", "h4", "p"] as const).map((tag) => {
          const E = prose[tag];
          return (
            <div class="py-4">
              <E>{ipsumEn}</E>
              <E>{ipsumKo}</E>
              <E>{ipsumEn}</E>
              <E>{ipsumKo}</E>
            </div>
          );
        }),
        <hr />,
      )
    }
  </div>
</LayoutBase>
