name: Lint

on:
  pull_request:
    branches:
      - main

jobs:
  code:
    runs-on: ubuntu-latest
    name: Lint code and MDX files
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: "9.0.6"
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm check
