{
  "openapi": "3.0.3",
  "info": {
    "title": "PortOne API",
    "version": "1.16.0"
  },
  "servers": [
    {
      "url": "https://api.portone.io",
      "description": "<p>운영환경 서버</p>\n"
    }
  ],
  "paths": {
    "/login/api-key": {},
    "/login/api-secret": {
      "post": {
        "summary": "<p>API secret 를 사용한 토큰 발급</p>\n",
        "description": "<p>API secret 를 사용한 토큰 발급</p>\n<p>API secret 를 통해 API 인증에 사용할 토큰을 가져옵니다.</p>\n",
        "operationId": "loginViaApiSecret",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginViaApiSecretBody"
              },
              "example": {
                "apiSecret": "your-api-secret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 토큰을 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginViaApiSecretResponse"
                },
                "example": {
                  "accessToken": "new-access-token",
                  "refreshToken": "new-refresh-token"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 토큰을 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginViaApiSecretError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginViaApiSecretError"
                }
              }
            }
          }
        },
        "x-portone-category": "auth",
        "x-portone-title": "API secret 를 사용한 토큰 발급",
        "x-portone-description": "<p>API secret 를 통해 API 인증에 사용할 토큰을 가져옵니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/LoginViaApiSecretError"
        }
      }
    },
    "/token/refresh": {
      "post": {
        "summary": "<p>토큰 갱신</p>\n",
        "description": "<p>토큰 갱신</p>\n<p>리프레시 토큰을 사용해 유효기간이 연장된 새로운 토큰을 재발급합니다.</p>\n",
        "operationId": "refreshToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenBody"
              },
              "example": {
                "refreshToken": "previous-refresh-token"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenResponse"
                },
                "example": {
                  "accessToken": "new-access-token",
                  "refreshToken": "new-refresh-token"
                }
              }
            }
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenError"
                }
              }
            }
          }
        },
        "x-portone-category": "auth",
        "x-portone-title": "토큰 갱신",
        "x-portone-description": "<p>리프레시 토큰을 사용해 유효기간이 연장된 새로운 토큰을 재발급합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/RefreshTokenError"
        }
      }
    },
    "/merchant": {},
    "/platform": {
      "get": {
        "description": "<p>가맹점의 플랫폼 정보를 조회합니다.\n요청된 Authorization header 를 통해 자동으로 요청자의 가맹점을 특정합니다.</p>\n",
        "operationId": "getPlatform",
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 플랫폼 객체를 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Platform"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 플랫폼 객체를 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>가맹점의 플랫폼 정보를 조회합니다.\n요청된 Authorization header 를 통해 자동으로 요청자의 가맹점을 특정합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/GetPlatformError"
        }
      },
      "patch": {
        "description": "<p>가맹점의 플랫폼 관련 정보를 업데이트합니다.\n요청된 Authorization header 를 통해 자동으로 요청자의 가맹점을 특정합니다.</p>\n",
        "operationId": "updatePlatform",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlatformBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformResponse"
                }
              }
            },
            "x-portone-title": "성공 응답"
          },
          "400": {
            "description": "<ul>\n<li><code>PlatformInvalidSettlementFormulaError</code></li>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>가맹점의 플랫폼 관련 정보를 업데이트합니다.\n요청된 Authorization header 를 통해 자동으로 요청자의 가맹점을 특정합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/UpdatePlatformError"
        }
      }
    },
    "/platform/discount-share-policy-filter-options": {
      "get": {
        "description": "<p>할인 분담 정책 다건 조회 시 필요한 필터 옵션을 조회합니다.</p>\n",
        "operationId": "getPlatformDiscountSharePolicyFilterOptions",
        "parameters": [
          {
            "name": "isArchived",
            "in": "query",
            "description": "<p>보관 조회 여부</p>\n<p>true 이면 보관된 할인 분담의 필터 옵션을 조회하고, false 이면 보관되지 않은 할인 분담의 필터 옵션을 조회합니다. 아무 값도 넘기지 않을 경우 기본값은 false 입니다.</p>\n",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "x-portone-title": "보관 조회 여부",
            "x-portone-description": "<p>true 이면 보관된 할인 분담의 필터 옵션을 조회하고, false 이면 보관되지 않은 할인 분담의 필터 옵션을 조회합니다. 아무 값도 넘기지 않을 경우 기본값은 false 입니다.</p>\n"
          }
        ],
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 조회된 할인 분담 정책 필터 옵션을 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDiscountSharePolicyFilterOptions"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 조회된 할인 분담 정책 필터 옵션을 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePolicyFilterOptionsError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePolicyFilterOptionsError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePolicyFilterOptionsError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>할인 분담 정책 다건 조회 시 필요한 필터 옵션을 조회합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/GetPlatformDiscountSharePolicyFilterOptionsError"
        },
        "x-portone-unstable": true
      }
    },
    "/platform/discount-share-policies": {
      "get": {
        "description": "<p>여러 할인 분담을 조회합니다.</p>\n",
        "operationId": "getPlatformDiscountSharePolicies",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPlatformDiscountSharePoliciesBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 조회된 파트너 리스트와 페이지 정보가 반환됩니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePoliciesResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 조회된 파트너 리스트와 페이지 정보가 반환됩니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePoliciesError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePoliciesError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePoliciesError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>여러 할인 분담을 조회합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/GetPlatformDiscountSharePoliciesError"
        },
        "x-portone-unstable": true
      },
      "post": {
        "description": "<p>새로운 할인 분담을 생성합니다.</p>\n",
        "operationId": "createPlatformDiscountSharePolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlatformDiscountSharePolicyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 생성된 할인 분담 정책이 반환됩니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformDiscountSharePolicyResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 생성된 할인 분담 정책이 반환됩니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformDiscountSharePolicyError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformDiscountSharePolicyError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformDiscountSharePolicyError"
                }
              }
            }
          },
          "409": {
            "description": "<ul>\n<li><code>PlatformDiscountSharePolicyAlreadyExistsError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformDiscountSharePolicyError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>새로운 할인 분담을 생성합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/CreatePlatformDiscountSharePolicyError"
        }
      }
    },
    "/platform/discount-share-policies/{id}": {
      "get": {
        "description": "<p>주어진 아이디에 대응되는 할인 분담을 조회합니다.</p>\n",
        "operationId": "getPlatformDiscountSharePolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>조회할 할인 분담 정책 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "조회할 할인 분담 정책 아이디"
          }
        ],
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 할인 분담 정책을 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDiscountSharePolicy"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 할인 분담 정책을 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePolicyError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePolicyError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePolicyError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformDiscountSharePolicyNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePolicyError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 할인 분담을 조회합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/GetPlatformDiscountSharePolicyError"
        }
      },
      "patch": {
        "description": "<p>주어진 아이디에 대응되는 할인 분담을 업데이트합니다.</p>\n",
        "operationId": "updatePlatformDiscountSharePolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>업데이트할 할인 분담 정책 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "업데이트할 할인 분담 정책 아이디"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlatformDiscountSharePolicyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 업데이트된 할인 분담 정책을 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformDiscountSharePolicyResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 업데이트된 할인 분담 정책을 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformDiscountSharePolicyError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformDiscountSharePolicyError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformDiscountSharePolicyError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformDiscountSharePolicyNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformDiscountSharePolicyError"
                }
              }
            }
          },
          "409": {
            "description": "<ul>\n<li><code>PlatformArchivedDiscountSharePolicyError</code>: 보관된 할인 분담 정책을 업데이트하려고 하는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformDiscountSharePolicyError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 할인 분담을 업데이트합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/UpdatePlatformDiscountSharePolicyError"
        }
      }
    },
    "/platform/discount-share-policies/{id}/schedule": {
      "get": {
        "description": "<p>주어진 아이디에 대응되는 할인 분담의 예약 업데이트를 조회합니다.</p>\n",
        "operationId": "getPlatformDiscountSharePolicySchedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>할인 분담 정책 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "할인 분담 정책 아이디"
          }
        ],
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 예약된 할인 분담 정책을 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformDiscountSharePolicy"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 예약된 할인 분담 정책을 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePolicyScheduleError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePolicyScheduleError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePolicyScheduleError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformDiscountSharePolicyNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformDiscountSharePolicyScheduleError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 할인 분담의 예약 업데이트를 조회합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/GetPlatformDiscountSharePolicyScheduleError"
        },
        "x-portone-unstable": true
      },
      "put": {
        "description": "<p>주어진 아이디에 대응되는 할인 분담에 예약 업데이트를 재설정합니다.</p>\n",
        "operationId": "rescheduleDiscountSharePolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>할인 분담 정책 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "할인 분담 정책 아이디"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReschedulePlatformDiscountSharePolicyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 예약된 할인 분담 정책을 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReschedulePlatformDiscountSharePolicyResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 예약된 할인 분담 정책을 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RescheduleDiscountSharePolicyError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RescheduleDiscountSharePolicyError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RescheduleDiscountSharePolicyError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformDiscountSharePolicyNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RescheduleDiscountSharePolicyError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 할인 분담에 예약 업데이트를 재설정합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/RescheduleDiscountSharePolicyError"
        },
        "x-portone-unstable": true
      },
      "post": {
        "description": "<p>주어진 아이디에 대응되는 할인 분담에 업데이트를 예약합니다.</p>\n",
        "operationId": "scheduleDiscountSharePolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>할인 분담 정책 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "할인 분담 정책 아이디"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchedulePlatformDiscountSharePolicyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 예약된 할인 분담 정책이 반환됩니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePlatformDiscountSharePolicyResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 예약된 할인 분담 정책이 반환됩니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleDiscountSharePolicyError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleDiscountSharePolicyError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleDiscountSharePolicyError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformDiscountSharePolicyNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleDiscountSharePolicyError"
                }
              }
            }
          },
          "409": {
            "description": "<ul>\n<li><code>PlatformDiscountSharePolicyScheduleAlreadyExistsError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleDiscountSharePolicyError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 할인 분담에 업데이트를 예약합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/ScheduleDiscountSharePolicyError"
        },
        "x-portone-unstable": true
      },
      "delete": {
        "description": "<p>주어진 아이디에 대응되는 할인 분담의 예약 업데이트를 취소합니다.</p>\n",
        "operationId": "cancelPlatformDiscountSharePolicySchedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>할인 분담 정책 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "할인 분담 정책 아이디"
          }
        ],
        "responses": {
          "200": {
            "description": "<p>성공 응답</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformDiscountSharePolicyScheduleResponse"
                }
              }
            },
            "x-portone-title": "성공 응답"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformDiscountSharePolicyScheduleError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformDiscountSharePolicyScheduleError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformDiscountSharePolicyScheduleError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformDiscountSharePolicyNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformDiscountSharePolicyScheduleError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 할인 분담의 예약 업데이트를 취소합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/CancelPlatformDiscountSharePolicyScheduleError"
        },
        "x-portone-unstable": true
      }
    },
    "/platform/discount-share-policies/{id}/archive": {},
    "/platform/discount-share-policies/{id}/recover": {},
    "/platform/additional-fee-policies": {
      "get": {
        "description": "<p>여러 추가 수수료 정책을 조회합니다.</p>\n",
        "operationId": "getPlatformAdditionalFeePolicies",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPlatformAdditionalFeePoliciesBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 조회된 추가 수수료 정책 리스트와 페이지 정보를 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformAdditionalFeePoliciesResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 조회된 추가 수수료 정책 리스트와 페이지 정보를 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformAdditionalFeePoliciesError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformAdditionalFeePoliciesError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformAdditionalFeePoliciesError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>여러 추가 수수료 정책을 조회합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/GetPlatformAdditionalFeePoliciesError"
        },
        "x-portone-unstable": true
      },
      "post": {
        "description": "<p>새로운 추가 수수료 정책을 생성합니다.</p>\n",
        "operationId": "createPlatformAdditionalFeePolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlatformAdditionalFeePolicyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformAdditionalFeePolicyResponse"
                }
              }
            },
            "x-portone-title": "성공 응답"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformAdditionalFeePolicyError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformAdditionalFeePolicyError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformAdditionalFeePolicyError"
                }
              }
            }
          },
          "409": {
            "description": "<ul>\n<li><code>PlatformAdditionalFeePolicyAlreadyExistsError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformAdditionalFeePolicyError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>새로운 추가 수수료 정책을 생성합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/CreatePlatformAdditionalFeePolicyError"
        }
      }
    },
    "/platform/additional-fee-policies/{id}": {
      "get": {
        "description": "<p>주어진 아이디에 대응되는 추가 수수료 정책을 조회합니다.</p>\n",
        "operationId": "getPlatformAdditionalFeePolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>조회할 추가 수수료 정책 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "조회할 추가 수수료 정책 아이디"
          }
        ],
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 추가 수수료 정책을 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformAdditionalFeePolicy"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 추가 수수료 정책을 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformAdditionalFeePolicyError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformAdditionalFeePolicyError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformAdditionalFeePolicyError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformAdditionalFeePolicyNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformAdditionalFeePolicyError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 추가 수수료 정책을 조회합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/GetPlatformAdditionalFeePolicyError"
        }
      },
      "patch": {
        "description": "<p>주어진 아이디에 대응되는 추가 수수료 정책을 업데이트합니다.</p>\n",
        "operationId": "updatePlatformAdditionalFeePolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>업데이트할 추가 수수료 정책 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "업데이트할 추가 수수료 정책 아이디"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlatformAdditionalFeePolicyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 업데이트된 추가 수수료 정책이 반환됩니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformAdditionalFeePolicyResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 업데이트된 추가 수수료 정책이 반환됩니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformAdditionalFeePolicyError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformAdditionalFeePolicyError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformAdditionalFeePolicyError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformAdditionalFeePolicyNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformAdditionalFeePolicyError"
                }
              }
            }
          },
          "409": {
            "description": "<ul>\n<li><code>PlatformArchivedAdditionalFeePolicyError</code>: 보관된 추가 수수료 정책을 업데이트하려고 하는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformAdditionalFeePolicyError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 추가 수수료 정책을 업데이트합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/UpdatePlatformAdditionalFeePolicyError"
        }
      }
    },
    "/platform/additional-fee-policies/{id}/schedule": {
      "get": {
        "description": "<p>주어진 아이디에 대응되는 추가 수수료 정책의 예약 업데이트를 조회합니다.</p>\n",
        "operationId": "getPlatformAdditionalFeePolicySchedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>추가 수수료 정책 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "추가 수수료 정책 아이디"
          }
        ],
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 예약된 추가 수수료 정책을 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformAdditionalFeePolicy"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 예약된 추가 수수료 정책을 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformAdditionalFeePolicyScheduleError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformAdditionalFeePolicyScheduleError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformAdditionalFeePolicyScheduleError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformAdditionalFeePolicyNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformAdditionalFeePolicyScheduleError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 추가 수수료 정책의 예약 업데이트를 조회합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/GetPlatformAdditionalFeePolicyScheduleError"
        },
        "x-portone-unstable": true
      },
      "put": {
        "operationId": "rescheduleAdditionalFeePolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>추가 수수료 정책 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "추가 수수료 정책 아이디"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReschedulePlatformAdditionalFeePolicyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 예약된 추가 수수료 정책이 반환됩니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReschedulePlatformAdditionalFeePolicyResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 예약된 추가 수수료 정책이 반환됩니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RescheduleAdditionalFeePolicyError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RescheduleAdditionalFeePolicyError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RescheduleAdditionalFeePolicyError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformAdditionalFeePolicyNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RescheduleAdditionalFeePolicyError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-error": {
          "$ref": "#/components/schemas/RescheduleAdditionalFeePolicyError"
        },
        "x-portone-unstable": true
      },
      "post": {
        "description": "<p>주어진 아이디에 대응되는 추가 수수료 정책에 업데이트를 예약합니다.</p>\n",
        "operationId": "scheduleAdditionalFeePolicy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>추가 수수료 정책 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "추가 수수료 정책 아이디"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchedulePlatformAdditionalFeePolicyBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 예약된 추가 수수료 정책을 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePlatformAdditionalFeePolicyResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 예약된 추가 수수료 정책을 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleAdditionalFeePolicyError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleAdditionalFeePolicyError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleAdditionalFeePolicyError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformAdditionalFeePolicyNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleAdditionalFeePolicyError"
                }
              }
            }
          },
          "409": {
            "description": "<ul>\n<li><code>PlatformAdditionalFeePolicyScheduleAlreadyExistsError</code></li>\n<li><code>PlatformArchivedAdditionalFeePolicyError</code>: 보관된 추가 수수료 정책을 업데이트하려고 하는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleAdditionalFeePolicyError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 추가 수수료 정책에 업데이트를 예약합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/ScheduleAdditionalFeePolicyError"
        },
        "x-portone-unstable": true
      },
      "delete": {
        "description": "<p>주어진 아이디에 대응되는 추가 수수료 정책의 예약 업데이트를 취소합니다.</p>\n",
        "operationId": "cancelPlatformAdditionalFeePolicySchedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>추가 수수료 정책 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "추가 수수료 정책 아이디"
          }
        ],
        "responses": {
          "200": {
            "description": "<p>성공 응답</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformAdditionalFeePolicyScheduleResponse"
                }
              }
            },
            "x-portone-title": "성공 응답"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformAdditionalFeePolicyScheduleError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformAdditionalFeePolicyScheduleError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformAdditionalFeePolicyScheduleError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformAdditionalFeePolicyNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformAdditionalFeePolicyScheduleError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 추가 수수료 정책의 예약 업데이트를 취소합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/CancelPlatformAdditionalFeePolicyScheduleError"
        },
        "x-portone-unstable": true
      }
    },
    "/platform/additional-fee-policies/{id}/archive": {},
    "/platform/additional-fee-policies/{id}/recover": {},
    "/platform/partner-filter-options": {
      "get": {
        "description": "<p>파트너 다건 조회 시 필요한 필터 옵션을 조회합니다.</p>\n",
        "operationId": "getPlatformPartnerFilterOptions",
        "parameters": [
          {
            "name": "isArchived",
            "in": "query",
            "description": "<p>보관 조회 여부</p>\n<p>true 이면 보관된 파트너의 필터 옵션을 조회하고, false 이면 보관되지 않은 파트너의 필터 옵션을 조회합니다. 아무 값도 넘기지 않을 경우 기본값은 false 입니다.</p>\n",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "x-portone-title": "보관 조회 여부",
            "x-portone-description": "<p>true 이면 보관된 파트너의 필터 옵션을 조회하고, false 이면 보관되지 않은 파트너의 필터 옵션을 조회합니다. 아무 값도 넘기지 않을 경우 기본값은 false 입니다.</p>\n"
          }
        ],
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 조회된 파트너 필터 옵션을 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformPartnerFilterOptions"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 조회된 파트너 필터 옵션을 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnerFilterOptionsError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnerFilterOptionsError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnerFilterOptionsError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>파트너 다건 조회 시 필요한 필터 옵션을 조회합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/GetPlatformPartnerFilterOptionsError"
        },
        "x-portone-unstable": true
      }
    },
    "/platform/partners": {
      "get": {
        "description": "<p>여러 파트너를 조회합니다.</p>\n",
        "operationId": "getPlatformPartners",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPlatformPartnersBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 조회된 파트너 리스트와 페이지 정보가 반환됩니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnersResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 조회된 파트너 리스트와 페이지 정보가 반환됩니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnersError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnersError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnersError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>여러 파트너를 조회합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/GetPlatformPartnersError"
        },
        "x-portone-unstable": true
      },
      "post": {
        "description": "<p>새로운 파트너를 생성합니다.</p>\n",
        "operationId": "createPlatformPartner",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlatformPartnerBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 생성된 파트너 객체가 반환됩니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformPartnerResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 생성된 파트너 객체가 반환됩니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformPartnerError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformPartnerError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformPartnerError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformContractNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformPartnerError"
                }
              }
            }
          },
          "409": {
            "description": "<ul>\n<li><code>PlatformPartnerIdAlreadyExistsError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformPartnerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>새로운 파트너를 생성합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/CreatePlatformPartnerError"
        }
      }
    },
    "/platform/partner-dashboard": {},
    "/platform/partners/{id}": {
      "get": {
        "description": "<p>파트너 객체를 조회합니다.</p>\n",
        "operationId": "getPlatformPartner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>조회하고 싶은 파트너 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "조회하고 싶은 파트너 아이디"
          }
        ],
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 파트너 객체가 반환됩니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformPartner"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 파트너 객체가 반환됩니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnerError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnerError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnerError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformPartnerNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>파트너 객체를 조회합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/GetPlatformPartnerError"
        }
      },
      "patch": {
        "description": "<p>주어진 아이디에 대응되는 파트너 정보를 업데이트합니다.</p>\n",
        "operationId": "updatePlatformPartner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>업데이트할 파트너 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "업데이트할 파트너 아이디"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlatformPartnerBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 업데이트된 파트너 객체가 반환됩니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformPartnerResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 업데이트된 파트너 객체가 반환됩니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformPartnerError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformPartnerError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformPartnerError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformPartnerNotFoundError</code></li>\n<li><code>PlatformContractNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformPartnerError"
                }
              }
            }
          },
          "409": {
            "description": "<ul>\n<li><code>PlatformArchivedPartnerError</code>: 보관된 파트너를 업데이트하려고 하는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformPartnerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 파트너 정보를 업데이트합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/UpdatePlatformPartnerError"
        }
      }
    },
    "/platform/partners/batch": {
      "post": {
        "description": "<p>새로운 파트너를 다건 생성합니다.</p>\n",
        "operationId": "createPlatformPartners",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlatformPartnersBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformPartnersResponse"
                }
              }
            },
            "x-portone-title": "성공 응답"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n<li><code>PlatformPartnerIdsDuplicatedError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformPartnersError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformPartnersError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformPartnersError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformContractsNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformPartnersError"
                }
              }
            }
          },
          "409": {
            "description": "<ul>\n<li><code>PlatformPartnerIdsAlreadyExistError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformPartnersError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>새로운 파트너를 다건 생성합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/CreatePlatformPartnersError"
        }
      }
    },
    "/platform/partners/{id}/approve": {},
    "/platform/partners/{id}/reject": {},
    "/platform/partners/{id}/schedule": {
      "get": {
        "description": "<p>주어진 아이디에 대응되는 파트너의 예약 업데이트를 조회합니다.</p>\n",
        "operationId": "getPlatformPartnerSchedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>파트너 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "파트너 아이디"
          }
        ],
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 예약된 파트너 객체를 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformPartner"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 예약된 파트너 객체를 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnerScheduleError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnerScheduleError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnerScheduleError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformPartnerNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformPartnerScheduleError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 파트너의 예약 업데이트를 조회합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/GetPlatformPartnerScheduleError"
        },
        "x-portone-unstable": true
      },
      "put": {
        "description": "<p>주어진 아이디에 대응되는 파트너에 예약 업데이트를 재설정합니다.</p>\n",
        "operationId": "reschedulePartner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>파트너 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "파트너 아이디"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReschedulePlatformPartnerBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 예약된 파트너 객체를 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReschedulePlatformPartnerResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 예약된 파트너 객체를 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReschedulePartnerError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReschedulePartnerError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReschedulePartnerError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformPartnerNotFoundError</code></li>\n<li><code>PlatformContractNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReschedulePartnerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 파트너에 예약 업데이트를 재설정합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/ReschedulePartnerError"
        },
        "x-portone-unstable": true
      },
      "post": {
        "description": "<p>주어진 아이디에 대응되는 파트너에 업데이트를 예약합니다.</p>\n",
        "operationId": "schedulePartner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>파트너 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "파트너 아이디"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchedulePlatformPartnerBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 예약된 파트너 객체가 반환됩니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePlatformPartnerResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 예약된 파트너 객체가 반환됩니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePartnerError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePartnerError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePartnerError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformPartnerNotFoundError</code></li>\n<li><code>PlatformContractNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePartnerError"
                }
              }
            }
          },
          "409": {
            "description": "<ul>\n<li><code>PlatformPartnerScheduleAlreadyExistsError</code></li>\n<li><code>PlatformArchivedPartnerError</code>: 보관된 파트너를 업데이트하려고 하는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePartnerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 파트너에 업데이트를 예약합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/SchedulePartnerError"
        },
        "x-portone-unstable": true
      },
      "delete": {
        "description": "<p>주어진 아이디에 대응되는 파트너의 예약 업데이트를 취소합니다.</p>\n",
        "operationId": "cancelPlatformPartnerSchedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>파트너 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "파트너 아이디"
          }
        ],
        "responses": {
          "200": {
            "description": "<p>성공 응답</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformPartnerScheduleResponse"
                }
              }
            },
            "x-portone-title": "성공 응답"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformPartnerScheduleError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformPartnerScheduleError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformPartnerScheduleError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformPartnerNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPlatformPartnerScheduleError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 파트너의 예약 업데이트를 취소합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/CancelPlatformPartnerScheduleError"
        },
        "x-portone-unstable": true
      }
    },
    "/platform/partners/schedule": {
      "post": {
        "operationId": "schedulePlatformPartners",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchedulePlatformPartnersBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePlatformPartnersResponse"
                }
              }
            }
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePlatformPartnersError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePlatformPartnersError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePlatformPartnersError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformContractNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePlatformPartnersError"
                }
              }
            }
          },
          "409": {
            "description": "<ul>\n<li><code>PlatformPartnerSchedulesAlreadyExistError</code></li>\n<li><code>PlatformArchivedPartnersCannotBeScheduledError</code>: 보관된 파트너들을 예약 업데이트하려고 하는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulePlatformPartnersError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-error": {
          "$ref": "#/components/schemas/SchedulePlatformPartnersError"
        },
        "x-portone-unstable": true
      }
    },
    "/platform/partners/{id}/archive": {},
    "/platform/partners/{id}/recover": {},
    "/platform/contracts": {
      "get": {
        "description": "<p>여러 계약을 조회합니다.</p>\n",
        "operationId": "getPlatformContracts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPlatformContractsBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 조회된 계약 리스트와 페이지 정보를 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformContractsResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 조회된 계약 리스트와 페이지 정보를 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformContractsError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformContractsError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformContractsError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>여러 계약을 조회합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/GetPlatformContractsError"
        },
        "x-portone-unstable": true
      },
      "post": {
        "description": "<p>새로운 계약을 생성합니다.</p>\n",
        "operationId": "createPlatformContract",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlatformContractBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 생성된 계약 객체가 반환됩니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformContractResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 생성된 계약 객체가 반환됩니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformContractError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformContractError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformContractError"
                }
              }
            }
          },
          "409": {
            "description": "<ul>\n<li><code>PlatformContractAlreadyExistsError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePlatformContractError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>새로운 계약을 생성합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/CreatePlatformContractError"
        }
      }
    },
    "/platform/contracts/{id}": {
      "get": {
        "operationId": "getPlatformContract",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>조회할 계약 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "조회할 계약 아이디"
          }
        ],
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 계약 객체를 반환합니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformContract"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 계약 객체를 반환합니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformContractError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformContractError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformContractError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformContractNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformContractError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-error": {
          "$ref": "#/components/schemas/GetPlatformContractError"
        }
      },
      "patch": {
        "description": "<p>주어진 아이디에 대응되는 계약을 업데이트합니다.</p>\n",
        "operationId": "updatePlatformContract",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>업데이트할 계약 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-portone-title": "업데이트할 계약 아이디"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlatformContractBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "<p>성공 응답으로 업데이트된 계약 객체가 반환됩니다.</p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformContractResponse"
                }
              }
            },
            "x-portone-description": "<p>성공 응답으로 업데이트된 계약 객체가 반환됩니다.</p>\n"
          },
          "400": {
            "description": "<ul>\n<li><code>InvalidRequestError</code>: 요청된 입력 정보가 유효하지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformContractError"
                }
              }
            }
          },
          "401": {
            "description": "<ul>\n<li><code>UnauthorizedError</code>: 인증 정보가 올바르지 않은 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformContractError"
                }
              }
            }
          },
          "403": {
            "description": "<ul>\n<li><code>PlatformNotEnabledError</code>: 플랫폼 기능이 활성화되지 않아 요청을 처리할 수 없는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformContractError"
                }
              }
            }
          },
          "404": {
            "description": "<ul>\n<li><code>PlatformContractNotFoundError</code></li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformContractError"
                }
              }
            }
          },
          "409": {
            "description": "<ul>\n<li><code>PlatformArchivedContractError</code>: 보관된 계약을 업데이트하려고 하는 경우</li>\n</ul>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePlatformContractError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerJwt": []
          },
          {
            "portOne": []
          }
        ],
        "x-portone-description": "<p>주어진 아이디에 대응되는 계약을 업데이트합니다.</p>\n",
        "x-portone-error": {
          "$ref": "#/components/schemas/UpdatePlatformContractError"
        }
      }
    },
    "/platform/contracts/{id}/schedule": {
      "get": {
        "description": "<p>주어진 아이디에 대응되는 계약의 예약 업데이트를 조회합니다.</p>\n",
        "operationId": "getPlatformContractSchedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "<p>계약 아이디</p>\n",
            "required": true,
            "schema": {
              "type": "string"
            },
[...]
